@typeparam T

<section class="grid @Class">
    @foreach (var inventory in Inventory)
    {
        @ChildContent?.Invoke(inventory)
    }

    @if (!string.IsNullOrEmpty(StoreHref))
    {
        <div class="store rounded pa-3">
            <MudFab
                Label="@L["Shared_InventoryStore"]"
                Href="@StoreHref"
                StartIcon="@EduIcons.InventoryStore"
                Color="Color.Primary"
                Size="Size.Large"
                DisableElevation/>
        </div>
    }
</section>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter, EditorRequired]
    public IEnumerable<T> Inventory { get; set; } = Enumerable.Empty<T>();

    [Parameter]
    public RenderFragment<T>? ChildContent { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public string? StoreHref { get; set; }

}