.grid {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}


.store {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px dashed var(--mud-palette-background-grey);
    min-height: 160px;
}