.grid {
    display: grid;
    gap: 12px;
    height: 100%;
}

::deep .achievement {
    width: 100%;
}

@media (min-width: 600px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        grid-template-areas:
            "exam profile"
            "exam profile"
            "quiz profile"
            "quiz assignment"
            "dg assignment"
            "dg achievement"
            "performance achievement"
            "performance achievement";
    }

    ::deep .profile {
        grid-area: profile;
    }

    ::deep .quizzes {
        grid-area: quiz;
    }

    ::deep .date-guessers {
        grid-area: dg;
    }

    ::deep .examinations {
        grid-area: exam;
    }

    ::deep .performance {
        grid-area: performance;
    }
    
    ::deep .assignment {
        grid-area: assignment;
    }

    ::deep .achievement {
        grid-area: achievement;
    }

    ::deep .recent-articles {
        grid-area: ra;
    }
}

@media (min-width: 960px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
            "exam quiz profile"
            "dg performance profile"
            ". performance assignment"
            "ra ra achievement";
    }
}

@media (min-width: 1280px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
            "exam quiz dg profile"
            ". . performance profile"
            ". . performance assignment"
            "ra ra ra achievement";
    }
}
