.grid {
    display: grid;
    gap: 12px;
    height: 100%;
}

::deep .achievement {
    width: 100%;
}

::deep .activities {
    min-height: 340px;
}

@media (min-width: 600px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        grid-template-areas:
            "exa pro"
            "exa pro"
            "qui pro"
            "qui ass"
            "dat ass"
            "per ach"
            ". ach"
            "act act"
            "art art"
            "crs crs";
    }

    ::deep .profile {
        grid-area: pro;
    }

    ::deep .quizzes {
        grid-area: qui;
    }

    ::deep .date-guessers {
        grid-area: dat;
    }

    ::deep .examinations {
        grid-area: exa;
    }

    ::deep .performance {
        grid-area: per;
    }

    ::deep .activities {
        grid-area: act;
    }

    ::deep .assignment {
        grid-area: ass;
    }

    ::deep .achievement {
        grid-area: ach;
    }

    ::deep .articles {
        grid-area: art;
    }

    ::deep .courses {
        grid-area: crs;
    }
}

@media (min-width: 960px) {
    .grid {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            "exa exa qui qui pro pro"
            "dat dat per per pro pro"
            ". . per per ass ass"
            "act act act act ach ach"
            "art art art crs crs crs";
    }

    ::deep .activities {
        min-height: unset;
    }

}

@media (min-width: 1440px) {
    .grid {
        grid-template-columns: repeat(8, 1fr);
        grid-template-areas:
            "exa exa qui qui dat dat pro pro"
            "act act act act per per pro pro"
            "act act act act per per ass ass"
            "art art art crs crs crs ach ach";
    }
}
