.background {
    background-image: url('/images/history/bg-640x360.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
}

@media (min-width: 600px) {
    .background {
        padding: 24px;
    }
}

@media (min-width: 1280px) {
    .background {
        background-image: url('/images/history/bg-1280x720.svg');
    }
}

@media (min-width: 1440px) {
    .background {
        background-image: url('/images/history/bg-1440x900.svg');
    }
}

@media (min-width: 1600px) {
    .background {
        background-image: url('/images/history/bg-1600x900.svg');
    }
}