.search-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.background-bar {
    background-size: cover;
    width: 100%;
    height: 80px;
    background: linear-gradient(66deg, var(--mud-palette-secondary) 0%, var(--mud-palette-tertiary) 100%);
}

.search-results-details {
    z-index: 1;
    width: 100%;
    text-align: center;
}

.search-input-container {
    width: 100%;
    max-width: 680px;
    margin: 0 auto;
    transform: translateY(-20%);
}

@media (min-width: 600px) {
    .background-bar {
        padding: 24px;
    }

    .search-input-container {
        transform: translateY(-50%);
    }
}
