.card {
    display: flex;
    flex-direction: column;
    color: var(--mud-palette-text-primary);
    background-color: var(--mud-palette-surface);
    border-radius: var(--mud-default-borderradius);
    transition: box-shadow 300ms cubic-bezier(.4, 0, .2, 1) 0ms;
}

.card-header {
    display: flex;
    justify-content: space-between;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: var(--mud-default-borderradius);
    border-top-right-radius: var(--mud-default-borderradius);
    height: 140px;
}

::deep .avatar {
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-right: 12px;
    border: 3px solid var(--mud-palette-surface);
}

::deep .icon {
    width: 60px;
    height: 60px;
}