.section {
    display: flex;
    justify-content: center;
    padding-left: 12px;
    padding-right: 12px;
}

.container {
    width: 100%;
}

.mw-600 {
    max-width: 600px;
}

.mw-960 {
    max-width: 960px;
}

.mw-1280 {
    max-width: 1280px;
}

.mw-1440 {
    max-width: 1440px;
}

.mw-1600 {
    max-width: 1600px;
}

.mw-1920 {
    max-width: 1920px;
}

.mw-2560 {
    max-width: 2560px;
}

@media (min-width: 600px) {
    .section {
        padding-left: 24px;
        padding-right: 24px;
    }
}
