.image {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.image.small {
    max-width: 100px;
}

.image.medium {
    max-width: 200px;
}

.image.large {
    max-width: 300px;
}

::deep .icon.small {
    width: 24px;
    height: 24px;
}

::deep .icon.medium {
    width: 48px;
    height: 48px;
}

::deep .icon.large {
    width: 64px;
    height: 64px;
}
