<section class="@Class">
    <h2 class="title">
        <span>@L["Rewards_Title"]</span>
    </h2>
    <article class="d-flex flex-wrap justify-center gap-3 gap-sm-6">
        @foreach (var reward in Rewards)
        {
            <div class="reward mud-paper d-flex align-center justify-center">
                <InternalMoney
                    Currency="@reward.Currency"
                    Amount="@reward.Amount"
                    IconSize="Size.Large"
                    Typo="Typo.h4"/>
            </div>
        }
    </article>
</section>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter, EditorRequired]
    public InternalMoneyModel[] Rewards { get; set; } = [];

}
