.title {
    font-size: var(--mud-typography-h5-size);
    font-family: var(--mud-typography-h5-family);
    font-weight: var(--mud-typography-h5-weight);
    letter-spacing: var(--mud-typography-h5-letterspacing);
    text-transform: var(--mud-typography-h5-text-transform);
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--mud-palette-divider);
    line-height: 0.1em;
    margin-bottom: 24px;
}

.title span {
    background-color: var(--mud-palette-surface);
    padding: 0 5px;
}

.reward {
    width: 100px;
    height: 100px
}
