.grid {
    display: grid;
    gap: 12px;
    grid-template-columns: 85px 1fr;
    align-content: start;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 100px;
    border-radius: var(--mud-default-borderradius);
}

.image {
    width: 64px;
    height: 64px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
    font-size: clamp(var(--mud-typography-subtitle2-size), var(--mud-typography-subtitle1-size), var(--mud-typography-h6-size));
    font-family: var(--mud-typography-subtitle1-family);
    font-weight: var(--mud-typography-subtitle1-weight);
    line-height: var(--mud-typography-subtitle1-lineheight);
    letter-spacing: var(--mud-typography-subtitle1-letterspacing);
    text-transform: var(--mud-typography-subtitle1-text-transform);
}

.description {
    grid-column: 1/-1;
}

.completed {
    box-shadow: inset 0 45px 40px -35px var(--mud-palette-primary);
}

::deep .rare-achievement {
    color: #E2AC6B;
    font-weight: bold;
}