.card {
    display: flex;
    flex-direction: column;
}

.card-header {
    box-sizing: border-box;
    overflow: hidden;
    border-top-left-radius: var(--mud-default-borderradius);
    border-top-right-radius: var(--mud-default-borderradius);
    position: relative;
}

.card.vertical .card-header,
.card.horizontal .card-header {
    max-height: 250px;
    aspect-ratio: 16 / 9;
}

.card-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: transform 2s ease;
}

.card-header:hover img {
    transform: scale(1.1);
}

.content {
    display: flex;
    flex-direction: column;
}

@media (min-width: 600px) {
    .card.horizontal {
        flex-direction: row;
    }

    .card.horizontal .card-header {
        height: auto;
        max-height: 100%;
        min-width: 33.333333%;
        border-top-left-radius: var(--mud-default-borderradius);
        border-bottom-left-radius: var(--mud-default-borderradius);
        border-top-right-radius: 0;
    }

    .card.horizontal .content {
        min-width: 66.666667%;
    }
}
