<section class="mud-paper d-flex align-center pa-3 px-sm-6 @Class">
    <MudIcon Class="mr-3 mr-sm-6" Icon="@Icons.Material.Outlined.AccountBalanceWallet"/>
    <div class="d-flex align-center">
        <MetricNumber Class="mr-1" Typo="Typo.subtitle1" Value="@Value"/>
        <MudIcon Icon="@Icon" Size="Size.Small"/>
    </div>
</section>

@code {

    [Parameter, EditorRequired]
    public string? Title { get; set; }

    [Parameter, EditorRequired]
    public string? Icon { get; set; }

    [Parameter, EditorRequired]
    public long Value { get; set; }

    [Parameter]
    public string? Class { get; set; }

}