<ul class="@Class">
    @foreach (var item in Items)
    {
        <li class="row">
            @if (!string.IsNullOrEmpty(item.Color))
            {
                <span class="dot" style="background-color: @item.Color"></span>
            }
            <MudText Typo="Typo.subtitle1">
                @item.Title
            </MudText>
            <MudText Typo="Typo.subtitle1" Class="ml-auto">
                @item.Value
            </MudText>
        </li>
    }
</ul>

@code {

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public Item[] Items { get; set; } = Array.Empty<Item>();

    public sealed record Item(string Title, string Value, string? Color);

}
