.grid {
    display: grid;
    gap: 12px;
    grid-template-columns: 100%;
}

@media (min-width: 600px) {
    .grid {
        gap: 24px;
    }
}

@media (min-width: 960px) {
    .grid {
        grid-template-columns: repeat(6, 1fr);
    }

    ::deep .activity {
        grid-column: span 4;
    }

    .wallets {
        grid-column: span 2;
    }

    ::deep .transactions {
        grid-column: span 3;
    }

    ::deep .orders {
        grid-column: span 3;
    }
}

@media (min-width: 1440px) {
    .grid {
        grid-template-columns: repeat(12, 1fr);
    }

    ::deep .activity {
        grid-column: span 8;
    }

    .wallets {
        grid-column: span 4;
    }

    ::deep .transactions {
        grid-column: span 5;
    }

    ::deep .orders {
        grid-column: span 7;
    }
}
