.drawer-header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mud-palette-appbar-text);
    background-color: var(--mud-palette-appbar-background);
    min-height: 56px;
}

@media (min-width: 600px) {
    .drawer-header {
        min-height: var(--mud-appbar-min-height);
    }
}