.appbar-band {
    background-image: url(images/user_appbar_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    padding: 12px;
    flex-direction: column;
}