.footer {
    align-self: center;
    width: 100%;
    max-width: 960px;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    justify-items: center;
    grid-gap: 12px;
    padding: 24px 24px 12px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

@media (min-width: 600px) {
    .footer {
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: auto;
        justify-items: start;
        align-items: center;
    }

    .footer > div:last-child {
        justify-self: end;
    }

    .links {
        justify-content: start;
    }
}