.header {
    margin-bottom: 48px;
    box-shadow: var(--mud-elevation-1);
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 250px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("https://source.unsplash.com/600x250/daily?nature,water,space,mountain,forest");
}

/*.image-cover {*/
/*    width: 100%;*/
/*    background: linear-gradient(15deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.4) 40%, rgba(255, 255, 255, 0) 100%);*/
/*    color: var(--mud-palette-white);*/
/*}*/

.content {
    background-color: var(--mud-palette-surface);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
}

.content > div {
    margin: 12px 24px;
}

.content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: flex-start;
}

@media (min-width: 600px) {
    .image {
        background-image: url("https://source.unsplash.com/960x250/daily?nature,water,space,mountain,forest");
    }
}

@media (min-width: 960px) {
    .image {
        background-image: url("https://source.unsplash.com/1280x250/daily?nature,water,space,mountain,forest");
    }

    .profile-header-cover {
        height: 200px;
    }
}

@media (min-width: 1280px) {
    .image {
        background-image: url("https://source.unsplash.com/1920x250/daily?nature,water,space,mountain,forest");
    }
}

@media (min-width: 1920px) {
    .image {
        height: 300px;
        background-image: url("https://source.unsplash.com/2560x300/daily?nature,water,space,mountain,forest");
    }
}

@media (min-width: 2560px) {
    .image {
        height: 350px;
        background-image: url("https://source.unsplash.com/3840x350/daily?nature,water,space,mountain,forest");
    }
}