.layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 12px;
    margin: 12px;
}

.header {
    grid-column: 1/-1;
}

.header > ::deep .title {
    font-family: var(--mud-typography-h4-family);
    font-size: var(--mud-typography-h4-size);
    font-weight: var(--mud-typography-h4-weight);
    line-height: var(--mud-typography-h4-lineheight);
    letter-spacing: var(--mud-typography-h4-letterspacing);
    text-align: center;
}

.header > ::deep .period-link {
    display: block;
    text-align: center;
}

.image {
    width: 100%;
}

.full-row {
    grid-column: 1/-1;
}

.image > img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

@media (min-width: 600px) {
    .layout {
        margin: 24px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .header > ::deep .title {
        font-family: var(--mud-typography-h2-family);
        font-size: var(--mud-typography-h2-size);
        font-weight: var(--mud-typography-h2-weight);
        line-height: var(--mud-typography-h2-lineheight);
        letter-spacing: var(--mud-typography-h2-letterspacing);
    }
}

@media (min-width: 960px) {
    .layout {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }

    .header {
        grid-column: 1/4;
        grid-row: 1/3;
    }
}
