.header {
    grid-column: 1/-1;
}

.header > ::deep .title {
    font-family: var(--mud-typography-h4-family);
    font-size: var(--mud-typography-h4-size);
    font-weight: var(--mud-typography-h4-weight);
    line-height: var(--mud-typography-h4-lineheight);
    letter-spacing: var(--mud-typography-h4-letterspacing);
    text-align: center;
}

.period-link {
    text-align: center;
}

.image {
    width: 100%;
}

.image > img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

@media (min-width: 600px) {
    .header > ::deep .title {
        font-family: var(--mud-typography-h2-family);
        font-size: var(--mud-typography-h2-size);
        font-weight: var(--mud-typography-h2-weight);
        line-height: var(--mud-typography-h2-lineheight);
        letter-spacing: var(--mud-typography-h2-letterspacing);
    }
}

@media (min-width: 960px) {
    .header {
        grid-column: 1/3;
        grid-row: 1/3;
    }
}
