.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 12px;
}

@media (min-width: 600px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

@media (min-width: 960px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
}
