.current-tests {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 8px;
}

@media (min-width: 960px) {
    .current-tests {
        grid-template-columns: repeat(auto-fit, minmax(250px, 320px));
    }
}

.restrictions {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 8px;
}