.current-tests {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
}

.subject-grid {
    display: grid;
    gap: 12px;
}

@media (min-width: 600px) {
    .current-tests {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .subject-grid {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

.statistics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 12px;
}