.current-tests {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 12px;
}

@media (min-width: 960px) {
    .current-tests {
        grid-template-columns: repeat(auto-fit, minmax(200px, 320px));
    }
}

.restrictions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 12px;
}

.restriction-values {
    display: grid;
    grid-template-columns: 48px 1fr;
    gap: 16px;
    align-items: center;
}

.statistics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 12px;
}