@page "/profile/{page}"
@using Elwark.Education.Web.Pages.Profile.Components
@attribute [Authorize]

<ProfileSubjectHeader SubjectType="@_type" Selected="@(ProfileSubMenu.Overview)"/>

<div class="ma-6">
    <CardsSkeleton/>
</div>

@code {

    [Parameter]
    public string Page { get; set; } = string.Empty;

    private SubjectType _type;

    protected override void OnParametersSet() =>
        Enum.TryParse(Page, true, out _type);

}