.user-container {
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--mud-palette-white);
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user ::deep .avatar {
    margin-bottom: 12px;
}

.navbar {
    background-color: var(--mud-palette-surface);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 12px;
}

.subject {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: inherit;
    margin-top: 12px;
    margin-bottom: 24px;
}

.subject ::deep .subject-icon {
    display: none;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
}

.menu-item ::deep .item-icon {
    width: 25px;
    height: 25px;
    margin-right: 8px;
}

.menu-link:hover {
    color: var(--mud-palette-primary);
}

.menu-active {
    border-bottom: 2px solid var(--mud-palette-primary);
}

@media (min-width: 600px) {
    .user-container {
        justify-content: start;
        padding: 24px;
    }

    .user {
        flex-direction: row;
    }

    .user ::deep .avatar {
        margin-bottom: 0;
        margin-right: 12px;
    }

    .navbar {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 24px;
    }

    .subject {
        margin: 0;
    }

    .subject ::deep .subject-icon {
        display: inherit;
        margin-right: 8px;
    }

    .menu {
        flex-wrap: nowrap;
    }

    .menu-item {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
