::deep .radio-group {
    width: 100%
}

::deep .radio-group > div > div {
    display: grid;
    gap: 12px;
    grid-template-columns: 100%;
}

::deep .radio {
    display: flex;
    margin-right: 0;
    margin-inline-end: 0;
}

::deep .radio .mud-radio-content {
    width: 100%;
}

.image {
    width: 32px;
    height: 32px;
}

@media (min-width: 600px) {
    ::deep .radio-group > div > div {
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        gap: 24px;
    }
}

@media (min-width: 960px) {
    ::deep .radio-group > div > div {
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    }
}
