.grid {
    display: grid;
    gap: 12px;
}

@media (min-width: 600px) {
    .grid {
        gap: 24px;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
}

@media (min-width: 1920px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
}