<PageTitle>
    @(Title ?? "Elwark education")
</PageTitle>

<main class="mud-main-content d-flex flex-column h-100">
    <article class="flex-grow-1">
        @ChildContent
    </article>

    @if (!HideFooter)
    {
        <footer class="d-flex align-center justify-space-between mud-divider gpa-3 pa-3 pa-sm-6">
            <MudText Typo="Typo.subtitle1">
                &copy; @DateTime.Now.Year Elwark
            </MudText>
            <MudImage Src="@ElwarkIcons.Primary60X60" Alt="Elwark logo" Width="40" Height="40"/>
        </footer>
    }
</main>


@code {

    [Parameter, EditorRequired]
    public string? Title { get; set; }

    [Parameter]
    public bool HideFooter { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}