.slider {
    position: relative;
    height: 40vh;
    max-height: 600px;
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: calc(var(--mud-default-borderradius) * 2);
    /*filter: blur(4px);*/
}

.slider-container {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate3d(0, 0, 0) perspective(1px) translateY(-80%);
}

.title {
    font-size: 6rem;
    font-family: var(--mud-typography-h1-family);
    font-weight: var(--mud-typography-h4-weight);
    line-height: var(--mud-typography-h1-lineheight);
    letter-spacing: var(--mud-typography-h1-letterspacing);
    color: #FEF0CD;
    text-shadow: 3px 3px 10px #4D1F08;
}

::deep .articles {
    margin-top: -80px;
}

.grid {
    display: grid;
    gap: 12px;

}

@media (min-width: 600px) {
    .slider {
        height: 50vh;
    }

    .title {
        font-size: 9rem;
    }

    .grid {
        gap: 24px;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 250px;
    }

    ::deep .articles {
        margin-top: -120px;
    }
}

@media (min-width: 980px) {
    .slider {
        height: 60vh;
    }
}

@media (min-width: 1280px) {
    .title {
        font-size: 12rem;
    }
}

@media (min-width: 1600px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
