.grid {
    display: grid;
    grid-template-columns: 100%;
    gap: 12px;
}

.card {
    border-radius: var(--mud-default-borderradius);
    overflow: hidden;
    position: relative;
}

.card:hover img {
    transform: scale(1.1);
}

.image-container {
    overflow: hidden;
    position: relative;
    vertical-align: bottom;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.image-container::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 90%);
}

.image-wrapper {
    color: transparent;
    display: inline-block;
    filter: blur(0);
    transition: filter .3s;
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    padding-top: 100%;
}

.image-wrapper > img {
    opacity: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
    top: 0;
    left: 0;
    position: absolute;
    max-width: 100%;
    display: inline-block;
    transition: transform 2s ease;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
    padding: 12px;
    bottom: 0;
    z-index: 9;
    position: absolute;
    color: #FFFFFF;
}

@media (min-width: 600px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        justify-content: space-between;
        gap: 24px;
    }

    .content {
        padding: 24px;
    }
}

@media (min-width: 960px) {
    .grid {
        grid-template-columns: repeat(4, minmax(220px, 1fr));
        grid-template-rows: repeat(3, 320px);
    }

    .grid article:first-child {
        grid-column: span 2;
        grid-row: span 2;
    }

    .grid article {
        grid-column: span 2;
    }
}

@media (min-width: 1600px) {
    .grid {
        grid-template-rows: repeat(2, minmax(220px, 1fr));
    }

    .grid article {
        grid-column: span 1;
    }

    /*.grid ::deep article:nth-child(2) {*/
    /*    grid-column: 2 / 3;*/
    /*    grid-row: 1 / 4;*/
    /*}*/
    /*.grid ::deep article:nth-child(3) {*/
    /*    grid-column: 2 / 3;*/
    /*    grid-row: 4 / 7;*/
    /*}*/
    /*.grid ::deep article:nth-child(4) {*/
    /*    grid-column: 3 / 4;*/
    /*    grid-row: 1 / 3;*/
    /*}*/
    /*.grid ::deep article:nth-child(5) {*/
    /*    grid-column: 3 / 4;*/
    /*    grid-row: 3 / 5;*/
    /*}*/
    /*.grid ::deep article:nth-child(6) {*/
    /*    grid-column: 3 / 4;*/
    /*    grid-row: 5 / 7;*/
    /*}*/
}