@page "/"

<Title Value="Elwark education"></Title>
<AuthorizeView>
    <Authorized>
        <RedirectTo Url="@Links.Subject.History.Index"/>
    </Authorized>

    <NotAuthorized>
        <MudText Typo="Typo.h1" Align="Align.Center">
            Welcome
        </MudText>
    </NotAuthorized>
</AuthorizeView>
