.header-grid {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr;
    align-items: center;
}

@media (min-width: 600px) {
    .header-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .header-text {
        grid-column: span 2;
    }
}