.grid {
    display: grid;
    grid-gap: 12px;
}

.details {
    display: grid;
    grid-gap: 12px;
}

.widget-subheader {
    margin-bottom: 12px;
}

@media (min-width: 600px) {
    .grid {
        grid-gap: 24px;
    }

    .details {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }

    .details > div {
        text-align: center;
    }

    .widget-subheader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 960px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(720px, 1fr));
    }
}
