.grid {
    display: grid;
    grid-gap: 12px;
}

@media (min-width: 600px) {
    .grid {
        grid-gap: 24px;
    }
}

@media (min-width: 960px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    }
}

@media (min-width: 1920px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    }
}
