.item {
    border-bottom: 1px solid var(--mud-palette-divider);;
    padding-bottom: 12px;
    margin-bottom: 24px;
}

.item:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.header-content {
    flex: 1 1 auto;
}

.header-action {
    flex: 0 0 auto;
}

.content {
    box-sizing: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 600px) {
    .header-content {
        min-width: 0;
    }

    .header-content ::deep .title {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 150px;
    }
}

@media (min-width: 720px) {
    .header-content ::deep .title {
        width: 180px;
    }
}

@media (min-width: 960px) {
    .header-content ::deep .title {
        width: 280px;
    }
}

@media (min-width: 1280px) {
    .header-content ::deep .title {
        width: 380px;
    }
}

@media (min-width: 1366px) {
    .header-content ::deep .title {
        width: 480px;
    }
}

@media (min-width: 1520px) {
    .header-content ::deep .title {
        width: 250px;
    }
}
