<div class="@Class grid">
    <div class="back-button">
        <MudIconButton Size="Size.Large" Icon="@Icons.Material.Filled.ArrowBack" Link="@BackLink"/>
    </div>
    <h2 class="title">
        @Title
    </h2>
</div>

@code {

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string BackLink { get; set; } = Links.Profile.History.Statistics;

}
