<MudCard Class="@Class">
    <MudCardHeader>
        <CardHeaderAvatar>
            <MudAvatar Color="Color.Primary" Size="Size.Large">
                <MudIcon Icon="@Icon" Size="Size.Large"/>
            </MudAvatar>
        </CardHeaderAvatar>
        <CardHeaderContent>
            <div class="d-flex flex-column align-end flex-sm-row justify-sm-space-between align-sm-center">
                <MudText Typo="Typo.h5">
                    @Title
                </MudText>
                <MudText Typo="Typo.h4" Color="Color.Primary">
                    @Total
                </MudText>
            </div>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <div class="grid">
            @if (Score is not null)
            {
                <div class="score">
                    @Score
                </div>
            }
            <div class="ranking">
                @Ranking
            </div>
            <div class="statistics">
                @Statistics
            </div>
        </div>
    </MudCardContent>
</MudCard>

@code {

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string Icon { get; set; } = Icons.Filled.Circle;

    [Parameter]
    public string Total { get; set; } = string.Empty;

    [Parameter]
    public RenderFragment? Score { get; set; }

    [Parameter]
    public RenderFragment Statistics { get; set; } = default!;

    [Parameter]
    public RenderFragment Ranking { get; set; } = default!;

}
