<section class="@_class">
    <div class="image">
        @Image
    </div>
    <div class="name">
        @Name
    </div>
    <div class="points">
        @Points
    </div>
    @if (Additional is not null)
    {
        <div class="additional">
            @Additional
        </div>
    }
</section>

@code {
    private string? _class;

    [Parameter]
    public RenderFragment? Image { get; set; }

    [Parameter]
    public RenderFragment? Name { get; set; }

    [Parameter]
    public RenderFragment? Points { get; set; }

    [Parameter]
    public RenderFragment? Additional { get; set; }

    [Parameter]
    public bool Highlight { get; set; }

    [Parameter]
    public bool Transparent { get; set; }

    [Parameter]
    public bool DisableHover { get; set; }

    [Parameter]
    public string? Class { get; set; }

    protected override void OnParametersSet()
    {
        var builder = CssBuilder.Default("d-flex align-center gap-3 pa-3");

        if (!Transparent)
            builder.AddClass(Highlight ? "highlight-paper" : "mud-paper");

        builder.AddClass("hover", !DisableHover);
        builder.AddClass(Class);

        _class = builder.Build();
    }

}