.image {
    width: 56px;
}

.name {
    flex: 1 1 auto;
}

.points {
    display: flex;
    justify-content: end;
    width: 100px;
}

.additional {
    display: none;
}

.highlight-paper {
    color: var(--mud-palette-primary-darken);
    background-color: var(--mud-palette-primary-hover);
    border-radius: var(--mud-default-borderradius);
    transition: box-shadow 300ms cubic-bezier(.4, 0, .2, 1) 0ms;
}

.mud-paper.hover:hover {
    background-color: var(--mud-palette-action-default-hover);
}

@media (min-width: 960px) {
    .points {
        justify-content: unset;
    }

    .additional {
        display: flex;
        width: 140px;
    }
}
