<div class="mud-avatar mud-avatar-rounded mud-avatar-filled mud-avatar-filled-default avatar">
    <img class="mud-image object-fill object-center" src="@Image" alt="@FullName"/>
</div>

@code {

    [Parameter]
    public required string Image { get; set; }

    [Parameter]
    public required string FullName { get; set; }

}