.grid {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.image {
    width: 100%;
    max-width: 720px;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media (min-width: 600px) {
    .grid {
        display: grid;
        grid-template-columns: minmax(100px, 1fr);
        align-items: start;
        gap: 24px;
    }
}

@media (min-width: 1280px) {
    .grid {
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto 1fr;
    }

    .timer {
        grid-column: 2;
        grid-row: 1;
    }

    .quiz {
        grid-column: 1;
        grid-row: -1 / 1;
    }

    ::deep .inventory {
        grid-column: 2;
        grid-row: 2;
    }
}
