.grid {
    display: grid;
    grid-gap: 12px;
    padding: 12px;
}

.aside {
    display: grid;
    grid-gap: 12px;
    grid-auto-rows: max-content;
}

@media (min-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .content {
        grid-column: 1/-1;
        order: 1;
    }

    .sidebar {
        order: 2;
    }

    .aside {
        order: 3;
    }
}

@media (min-width: 960px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .aside {
        grid-column: span 2;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1280px) {
    .grid {
        grid-template-columns: repeat(12, 1fr);
    }

    .content {
        grid-column: span 6;
        order: 2;
    }

    .sidebar {
        order: 1;
        grid-column: span 3;
    }

    .aside {
        order: 3;
        grid-column: span 3;
        grid-template-columns: none;
    }
}

@media (min-width: 1600px) {
    .content {
        grid-column: span 7;
    }

    .sidebar {
        grid-column: span 2;
    }
}
