.content ::deep > * {
    margin-bottom: 24px;
}

.content ::deep img {
    margin: 24px auto;
    display: block;
    max-width: 100%;
}

.content ::deep ol, ul {
    margin-left: 16px;
}

.content ::deep hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.content ::deep a {
    text-decoration: underline;
    color: var(--mud-palette-primary);
}

.content ::deep a:visited {
    color: #6A1B9A;
}

.image {
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

@media (min-width: 600px) {
    .image {
        height: 25vh;
    }
}