.period-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.period-box {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    position: relative;
    width: 100%;
}

.period-box > a {
    height: 100%;
}

.period-box:hover .period-thumbnail img {
    filter: brightness(0.7);
}

.period-thumbnail {
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: 100%;
}

.period-thumbnail img {
    display: flex;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    filter: brightness(0.6);
    object-fit: cover;
}

.period-header {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 40px 32px;
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--mud-palette-white);
}

.period-header ::deep a {
    text-align: center;
    color: var(--mud-palette-white);
}

.grid {
    display: grid;
    gap: 12px;
    margin: 0 24px;
}

.container-header {
    display: flex;
    border-bottom: 1px solid var(--mud-palette-background-grey);
}

.container-header ::deep h6 {
    padding: 0 16px 3px 16px;
    border-bottom: 3px solid var(--mud-palette-primary);
}

.trending-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
}

.trending-article-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.trending-article-image {
    height: 100%;
}

.trending-article-image img {
    width: 100%;
    height: 100%;
    max-height: 30vh;
    object-fit: contain;
}

.trending-article-content {
    margin: 12px 12px 0;
}

.recent-grid {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.recent-article-card {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.recent-article-card-header {
    display: flex;
    flex-direction: row;
    gap: 12px
}

.recent-article-card-image {
    flex: 0 1 40%;
}

@media (min-width: 600px) {
    .period-grid {
        grid-template-columns: repeat(4, minmax(150px, 1fr));
    }

    .period-grid > div {
        grid-column: span 2;
    }

    .period-grid > div:last-child {
        grid-column: 2/-2;
    }

    .trending-grid {
        grid-template-columns: repeat(12, 1fr);
    }

    .trending-grid > div:first-child {
        grid-column: span 12;
    }

    .trending-grid > div {
        grid-column: span 6;
    }
}

@media (min-width: 960px) {
    .period-grid {
        grid-template-columns: repeat(6, minmax(160px, 1fr));
    }

    .period-grid > div:nth-child(4) {
        grid-column: 1/4;
    }

    .period-grid > div:last-child {
        grid-column: 4/-1;
    }

    .trending-grid > div:nth-child(1),
    .trending-grid > div:nth-child(2) {
        grid-column: span 6;
    }

    .trending-grid > div:nth-child(3),
    .trending-grid > div:nth-child(4),
    .trending-grid > div:nth-child(5) {
        grid-column: span 4;
    }

    .trending-grid > div {
        grid-column: span 3;
    }
}

@media (min-width: 1280px) {
    .period-grid {
        grid-template-columns: repeat(5, 1fr);
    }

    .period-grid > div:nth-child(4),
    .period-grid > div:last-child,
    .period-grid > div {
        grid-column: span 1;
    }

    .grid {
        grid-template-columns: 2fr 1fr;
    }
}

@media (min-width: 1920px) {
    .grid {
        grid-template-columns: 3fr 1fr;
    }

    .trending-grid > div:nth-child(1),
    .trending-grid > div:nth-child(2),
    .trending-grid > div:nth-child(3) {
        grid-column: span 4;
    }


    .trending-grid > div:nth-child(4),
    .trending-grid > div:nth-child(5),
    .trending-grid > div:nth-child(6),
    .trending-grid > div:nth-child(7) {
        grid-column: span 3;
    }

    .trending-grid > div {
        grid-column: span 2;
    }
}
