<section class="wrapper @Class">
    <div class="grid">
        @Content
    </div>

    <aside class="sidebar">
        <div>
            @Sidebar
        </div>
    </aside>
</section>

@code {

    [Parameter]
    public RenderFragment? Content { get; set; }

    [Parameter]
    public RenderFragment? Sidebar { get; set; }

    [Parameter]
    public string? Class { get; set; }
}