@using Elwark.Education.Web.Gateways.Models.Test

<div class="wrapper">
    <div>
        <MudLink Href="@Link" Typo="Typo.h5">
            @Title
        </MudLink>
        <MudText Typo="Typo.body1">
            @L[$"Test:{Type}"]
        </MudText>
    </div>
    <div class="status">
        <ConclusionStatusTitle Status="@Status"/>
        <MudText Typo="Typo.body1">
            @CompletedAt.ToSimpleFormat()
        </MudText>
    </div>
</div>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;
    
    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string Link { get; set; } = default!;

    [Parameter]
    public ConclusionStatus Status { get; set; }

    [Parameter]
    public TestType Type { get; set; }

    [Parameter]
    public DateTime CompletedAt { get; set; }

}
