.section {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.container {
    width: 100%;
}

@media (min-width: 600px) {
    .section {
        margin-bottom: 48px;
    }
}

@media (min-width: 1280px) {
    .container {
        width: 1280px;
    }
}
