.grid {
    display: grid;
    gap: 12px;
    height: 100%;
}

@media (min-width: 600px) {
    .grid {
        gap: 24px;
    }
}

@media (min-width: 960px) {
    .grid {
        grid-template-columns: repeat(12, 1fr);
    }

    .wallet {
        grid-column: 1 / 5;
    }

    .inventory {
        grid-column: 5 / 13;
    }
}

@media (min-width: 1600px) {
    .wallet {
        grid-column: 1 / 4;
    }

    .inventory {
        grid-column: 4 / 13;
    }
}

@media (min-width: 1920px) {
    .grid {
        grid-template-columns: repeat(20, 1fr);
    }
    
    .wallet {
        grid-column: 1 / 5;
    }

    .inventory {
        grid-column: 5 / -1;
    }
}