.grid {
    display: grid;
    gap: 12px;
    grid-template-columns: minmax(100px, 1fr);
    grid-template-areas: 
        "profile"
        "wallet"
        "activity"
        "daily-reward"
        "achievements"
        "easy-test"
        "hard-test"
        "mixed-test"
        "event-guesser";
}

.grid ::deep .profile {
    grid-area: profile;
}

.grid ::deep .wallet {
    grid-area: wallet;
}

.grid ::deep .activity {
    grid-area: activity;
}

.grid ::deep .daily-reward {
    grid-area: daily-reward;
}

.grid ::deep .achievements {
    grid-area: achievements;
}

.grid ::deep .easy-test {
    grid-area: easy-test;
}

.grid ::deep .hard-test {
    grid-area: hard-test;
}

.grid ::deep .mixed-test {
    grid-area: mixed-test;
}

.grid ::deep .event-guesser {
    grid-area: event-guesser;
}

@media (min-width: 600px) {
    .grid {
        gap: 24px;
        grid-template-columns: repeat(2, minmax(160px, 1fr));
        grid-template-areas:
            "profile profile"
            "wallet wallet"
            "activity daily-reward"
            "achievements achievements"
            "easy-test hard-test"
            "mixed-test event-guesser";
    }
}

@media (min-width: 960px) {
    .grid {
        grid-template-columns: repeat(6, minmax(120px, 1fr));
        grid-template-areas:
            "profile profile profile wallet wallet wallet"
            "profile profile profile daily-reward daily-reward daily-reward"
            "activity activity activity activity activity activity"
            "achievements achievements achievements achievements achievements achievements"
            "easy-test easy-test hard-test hard-test mixed-test mixed-test"
            "event-guesser event-guesser . . . .";
    }
}

@media (min-width: 1280px) {
    .grid {
        grid-template-columns: repeat(4, minmax(180px, 1fr));
        grid-template-areas:
            "profile profile wallet daily-reward"
            "profile profile activity activity"
            "achievements achievements achievements achievements"
            "easy-test hard-test mixed-test event-guesser";
    }
}

@media (min-width: 1600px) {
    .grid {
        grid-template-areas:
            "profile wallet activity daily-reward"
            "profile achievements achievements achievements"
            ". achievements achievements achievements"
            ". achievements achievements achievements"
            "easy-test hard-test mixed-test event-guesser";
    }
}
