.grid {
    display: grid;
    row-gap: 12px;
    grid-template-columns: minmax(100px, 1fr);
}

@media (min-width: 600px) {
    .grid {
        gap: 24px;
        grid-template-columns: repeat(2, minmax(160px, 1fr));
    }

    .grid ::deep .profile,
    .grid ::deep .achievements {
        grid-column: span 2;
    }
}

@media (min-width: 960px) {
    .grid {
        grid-template-columns: repeat(12, 1fr);
    }

    .grid ::deep .profile {
        grid-column: span 5;
        grid-row: span 2;
    }

    .grid ::deep .wallet,
    .grid ::deep .activity {
        grid-column: span 7;
    }

    .grid ::deep .daily-bonus,
    .grid ::deep .daily-tasks {
        grid-column: span 6;
    }

    .grid ::deep .achievements {
        grid-column: 1/-1;
    }

    .grid ::deep .easy-test,
    .grid ::deep .hard-test,
    .grid ::deep .mixed-test,
    .grid ::deep .event-guesser {
        grid-column: span 4
    }
}

@media (min-width: 1280px) {
    .grid ::deep .profile {
        grid-column: span 4;
    }

    .grid ::deep .wallet,
    .grid ::deep .activity {
        grid-column: span 4;
    }

    .grid ::deep .daily-bonus,
    .grid ::deep .daily-tasks {
        grid-column: span 4;
    }

    .grid ::deep .easy-test,
    .grid ::deep .hard-test,
    .grid ::deep .mixed-test,
    .grid ::deep .event-guesser {
        grid-column: span 3
    }
}

@media (min-width: 1600px) {
    .grid ::deep .profile,
    .grid ::deep .wallet,
    .grid ::deep .daily-tasks,
    .grid ::deep .daily-bonus {
        grid-column: span 3;
    }

    .grid ::deep .activity {
        grid-column: span 3;
        grid-row: 3;
    }

    .grid ::deep .achievements {
        grid-column: 4 / 13;
        grid-row: 2 / 4;
    }
}