.card {
    color: var(--mud-palette-white);
    background-image: linear-gradient(90deg, var(--mud-palette-primary), var(--mud-palette-primary-lighten));
    border-radius: var(--mud-default-borderradius);
    transition: all .3s ease-in-out;
}

.card ::deep .icon {
    color: rgb(253, 230, 54);
}
