.grid {
    display: grid;
    grid-template-columns: 60px 3fr 1fr;
    align-items: center;
    padding: 12px;
}

.rank {
    text-align: center;
}

.name, .level {
    display: flex;
    align-items: center;
}

.experience {
    display: none;
}

.highlight-paper {
    color: var(--mud-palette-success-darken);
    background-color: var(--mud-palette-success-hover);
    border-radius: var(--mud-default-borderradius);
    transition: box-shadow 300ms cubic-bezier(.4, 0, .2, 1) 0ms;
}

@media (min-width: 600px) {
    .grid {
        grid-template-columns: 80px auto 120px 120px;
    }

    .rank {
        text-align: left;
    }

    .experience {
        display: flex;
        align-items: center;
    }
}
