.avatar {
    position: relative;
    padding-top: 20px;
    display: inline-block;
}

.badge {
    position: absolute;
    right: -10px;
    bottom: -5px;
    z-index: 1;
    background: gray;
    text-align: center;
    border-radius: 50%;
    color: white;
    padding: 8px 15px;
    font-weight: bold;
    font-size: var(--mud-typography-subtitle1-size);
}

.position-1 {
    color: #dba05b;
    background: rgb(255, 218, 139);
    background: linear-gradient(30deg, rgba(255, 218, 139, 1) 0%, rgba(255, 235, 164, 1) 100%);
}

.position-2 {
    color: #818c93;
    background: rgb(184, 195, 200);
    background: linear-gradient(28deg, rgba(184, 195, 200, 1) 0%, rgba(222, 229, 231, 1) 100%);
}

.position-3 {
    color: #976d4b;
    background: rgb(216, 167, 134);
    background: linear-gradient(28deg, rgba(216, 167, 134, 1) 0%, rgba(240, 197, 164, 1) 100%);
}
