.card {
    width: 380px;
    height: 214px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--mud-default-borderradius);
    transition: box-shadow 300ms cubic-bezier(.4, 0, .2, 1) 0ms;
}

.card-header {
    display: flex;
    justify-content: space-between;
    border-top-left-radius: var(--mud-default-borderradius);
    border-top-right-radius: var(--mud-default-borderradius);
}