.background {
    min-height: 260px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("https://source.unsplash.com/600x260/daily?nature");
}

.cover {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    min-height: inherit;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--mud-palette-white);
}

.header {
    margin: 0 12px 24px;
}

.title {
    font-size: 3rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.167;
    letter-spacing: 0;
    color: var(--mud-palette-white);
}

.title:hover {
    padding-bottom: 4px;
    border-bottom: 1px solid var(--mud-palette-white);
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.menu-item {
    margin: 12px;
    color: var(--mud-palette-primary-text);
}

.item-active {
    color: var(--mud-palette-secondary);
}

.menu-item ::deep .item-icon {
    display: none;
}

.item-link:hover ::deep .item-text {
    color: var(--mud-palette-secondary);
}

@media (min-width: 600px) {
    .background {
        min-height: 360px;
        background-image: url("https://source.unsplash.com/960x360/daily?nature");
    }

    .header {
        margin: 0 24px 48px;
    }

    .title {
        font-size: 3.75rem;
        font-weight: 300;
        line-height: 1.2;
        letter-spacing: -.00833em;
    }

    .menu-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 24px;
    }

    .menu-item ::deep .item-icon {
        display: block;
        color: inherit;
        width: 30px;
        height: 30px;
        margin-bottom: 12px;
    }
}

@media (min-width: 960px) {
    .background {
        min-height: 460px;
        background-image: url("https://source.unsplash.com/1280x460/daily?nature");
    }

    .title {
        font-size: 6rem;
        font-weight: 300;
        line-height: 1.167;
        letter-spacing: -.01562em;
    }

    .menu-item ::deep .item-icon {
        width: 40px;
        height: 40px;
        margin-bottom: 18px;
    }
}

@media (min-width: 1280px) {
    .background {
        background-image: url("https://source.unsplash.com/1920x460/daily?nature");
    }

    .container {
        width: 1280px;
        margin: 0 auto;
    }
}

@media (min-width: 1920px) {
    .background {
        min-height: 560px;
        background-image: url("https://source.unsplash.com/2560x560/daily?nature");
    }
}

@media (min-width: 2560px) {
    .background {
        background-image: url("https://source.unsplash.com/3840x560/daily?nature");
    }
}