.statistics {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: end;
    gap: 24px;
    padding: 24px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (min-width: 600px) {
    .statistics {
        grid-template-columns: repeat(2, 1fr);
    }

    .profile {
        grid-column: 1/-1;
    }
}

@media (min-width: 960px) {
    .statistics {
        grid-template-columns: repeat(3, 1fr);
    }

    .profile {
        grid-column: span 1;
        grid-row: span 2;
    }
}

@media (min-width: 1280px) {
    .statistics {
        grid-template-columns: repeat(5, 1fr);
    }

    .profile {
        grid-row: span 1;
    }
}