.container {
    max-height: 99vh;
    overflow-y: auto
}

.pricing-grid {
    display: grid;
    grid-gap: 12px;
    margin: 12px;
}

@media (min-width: 600px) {
    .pricing-grid {
        grid-gap: 24px;
        margin: 24px;
        justify-content: space-evenly;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
}
