.header {
    display: grid;
    grid-gap: 12px;
    margin-bottom: 12px;
    grid-template-columns: auto auto;
}

.header-score {
}

.header-time-spent {
    justify-self: end;
}

@media (min-width: 600px) {
    .header {
        grid-gap: 24px;
        margin-bottom: 24px;
    }
}
