.wrapper {
    display: grid;
    grid-template-columns: 100%;
    gap: 12px;
}

@media (min-width: 600px) {
    .wrapper {
        gap: 24px;
    }
}

@media (min-width: 960px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: start;
        justify-content: space-between;
    }

    .grid {
        grid-column: 1 / 3;
    }

    .sidebar {
        height: 100%;
    }

    .sidebar > div {
        position: sticky;
        top: calc(var(--mud-appbar-height) + 12px);
    }
}