<section class="@Class">
    @foreach (var item in Items)
    {
        <section class="item">
            <MudText Typo="Typo.subtitle1">
                @item.Title
            </MudText>

            <article class="d-flex align-end justify-space-between">
                <MudText Typo="Typo.h6">
                    @item.Value
                </MudText>

                <Trending Trend="@item.Trending" Typo="Typo.body1" Size="Size.Small"/>
            </article>
        </section>
    }
</section>

@code {

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public Item[] Items { get; set; } = [];

    public sealed record Item(string Title, string Value, double Trending);

}
