@typeparam T

@if (Products.Length == 0)
{
    <EduEmpty Title="Nothing"/>
}
else
{
    <section class="products">
        @foreach (var product in Products)
        {
            @ChildContent(product)
        }
    </section>
}

@code {

    [Parameter, EditorRequired]
    public T[] Products { get; set; } = Array.Empty<T>();

    [Parameter]
    public RenderFragment<T> ChildContent { get; set; } = _ => @<div></div>;

}

