@typeparam T

@if (Products.Length == 0)
{
    @NoRecordsContent
}
else
{
    <section class="products">
        @foreach (var product in Products)
        {
            @ChildContent(product)
        }
    </section>
}

@code {

    [Parameter, EditorRequired]
    public required T[] Products { get; set; }

    [Parameter]
    public RenderFragment<T> ChildContent { get; set; } = _ => @<div></div>;

    [Parameter]
    public RenderFragment? NoRecordsContent { get; set; }

}