@using Education.Web.Gateways.Models.Statistics
@typeparam T

<MudPaper Class="@($"{Class} pa-3")" Elevation="0">
    <MudLink Href="@Href" Typo="Typo.h6">
        @Title
    </MudLink>
    <div class="d-flex flex-wrap justify-space-between mt-3">
        <MudText Typo="Typo.h5">
            @Value.Current
        </MudText>
        <DifferenceLabel Difference="@Value.Difference"/>
    </div>
</MudPaper>

@code {

    [Parameter]
    public string? Class { get; set; }

    [Parameter, EditorRequired]
    public string Title { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public ContrastModel<T> Value { get; set; } = default!;

    [Parameter, EditorRequired]
    public string Href { get; set; } = "#";

}
