@page "/"

<div style="max-width: 600px" class="mx-auto">
    <MudText Typo="Typo.h4" Align="Align.Center" Class="my-6">
        Choose your favorite subject
    </MudText>
    <MudText Typo="Typo.subtitle1" Align="Align.Center">
        Welcome to the brand new education platform!
    </MudText>
</div>
<MudContainer MaxWidth="MaxWidth.Large" Class="mt-12">
    <MudGrid Spacing="6" Justify="Justify.Center">
        <MudItem xs="12" sm="6" md="4">
            <SubjectCard
                Title="History"
                Href="history"
                Background="images/history.png"
                Avatar="@TwoTone.AccountBalanceTwoTone"
                AvatarStyles="background: linear-gradient(140deg, rgba(226, 110, 67, 1) 0%, rgba(248, 206, 14, 1) 100%)"
                Articles="20"
                Questions="30"
                Topics="10"/>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <SubjectCard
                Title="Physics"
                Background="images/physics.jpg"
                Avatar="@Icons.Custom.Radioactive"
                AvatarStyles="background: linear-gradient(140deg, rgba(28,46,76,1) 0%, rgba(108,208,255,1) 100%)"
                Articles="20"
                Questions="30"
                Topics="10"/>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <SubjectCard
                Title="Astronomy"
                Background="images/astronomy.jpg"
                Avatar="@Filled.Flare"
                AvatarStyles="background: linear-gradient(140deg, rgba(53,58,95,1) 0%, rgba(158,186,243,1) 100%)"
                Articles="20"
                Questions="30"
                Topics="10"/>
        </MudItem>
    </MudGrid>
</MudContainer>