::deep .overview {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

::deep .icon {
    width: 140px;
    height: 140px;
}

@media (min-width: 960px) {
    ::deep .overview {
        -webkit-line-clamp: 1;
    }
}
