.header {
    display: grid;
    grid-template-columns: 120px auto 48px;
    gap: 12px;
    align-items: center;
}

.header ::deep .title {
    grid-column: span 2;
}

.header .overview {
    grid-column: span 2;
    align-self: start;
}

::deep .number-input {
    max-width: 48px;
    max-height: 36px;
    margin: 0;
}

::deep .number-input .mud-input {
    max-width: 48px;
    max-height: 36px;
    margin: 0;
}

::deep .number-input .mud-input input {
    text-align: center;
}

::deep .price {
    height: 36px;
}

.image {
    width: 42px;
    height: 42px;
}
