@using Education.Client.Features.History.Clients.Product.Model
<MudButton
    StartIcon="@Price.Total.Currency.GetIcon()"
    Variant="Variant.Outlined"
    Color="Color.Primary"
    OnClick="@OnClick"
    DisableElevation
    DisableRipple
    FullWidth>
    <div class="d-flex gap-1">
        <MudText Typo="Typo.subtitle2">
            @Price.Total.Amount
        </MudText>

        @if (Price.Discount > 0)
        {
            <MudText Typo="Typo.body2">
                <s>@Price.Original.Amount</s>
            </MudText>
        }
    </div>
</MudButton>

@code {

    [Parameter, EditorRequired]
    public required PriceModel Price { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

}
