<div class="container">
    @foreach (var epoch in EpochTypeExtensions.List[1..])
    {
        var title = L[epoch.ResourceKey()];
        <div class="card">
            <img class="image object-cover object-center" src="@epoch.Image()" alt="@title" loading="lazy"/>
            <a href="@HistoryUrl.Content.Articles(epoch)">
                <div class="body pa-3">
                    <MudText Typo="Typo.h5" Color="Color.Inherit">
                        @title
                    </MudText>
                </div>
            </a>
        </div>
    }
</div>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

}