@inherits LayoutComponentBase

<CascadingTheme>
    <MudLayout Class="d-flex flex-column min-vh-100">
        <MainAppBar/>

        <main class="mud-main-content d-flex flex-column flex-grow-1">
            @Body
        </main>

        <MainFooter/>

        <MudScrollToTop>
            <MudFab StartIcon="@Icons.Material.Outlined.KeyboardArrowUp" Color="Color.Primary" Size="Size.Small"/>
        </MudScrollToTop>
    </MudLayout>
</CascadingTheme>
