@media (min-width: 960px) {
    .mud-timeline-item:nth-child(odd):not(.mud-timeline-item-start) .card {
        flex-direction: row;
    }

    .mud-timeline-item:nth-child(even):not(.mud-timeline-item-start) .card {
        flex-direction: row-reverse;
    }

    .mud-timeline-item:nth-child(even):not(.mud-timeline-item-start) .card .card-content {
        text-align: end;
    }

    .card-content {
        max-width: 480px;
    }
}
