.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

@media (min-width: 1280px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    }
}