@page "/profile/{subject}/tests/{id}"
@using Elwark.Education.Web.Gateways.History
@using Elwark.Education.Web.Gateways.Models.TestConclusion

@inject IHistoryClient HistoryClient
@inject IStringLocalizer<App> L

@attribute [Authorize]

<ProfileSubjectHeader SubjectType="@_subject"/>
<div class="ma-6">
    <ApiResponseViewer Response="@_response">
        <Loading>
            <SkeletonCard/>
        </Loading>
        <Result Context="data">
            <ProfileTestDetail Class="my-6" Conclusion="@data" ContentLink="@ContentLink(data)"/>
        </Result>
    </ApiResponseViewer>
</div>

@code {

    [Parameter]
    public string Subject { get; set; } = string.Empty;

    [Parameter]
    public string Id { get; set; } = string.Empty;

    private SubjectType _subject;
    private ApiResponse<TestConclusionDetail> _response = ApiResponse<TestConclusionDetail>.Loading();

    protected override async Task OnParametersSetAsync()
    {
        Enum.TryParse(Subject, true, out _subject);
        _response = _subject switch
        {
            SubjectType.History => await HistoryClient.GetMyTestConclusionAsync(Id),
            _ => ApiResponse<TestConclusionDetail>.Fail(Error.NotFound)
            };
    }

    private string ContentLink(TestConclusionDetail detail) =>
        detail switch {
            ArticleTestConclusionDetail x => Links.Subjects.Article(_subject, x.ArticleId),
            TopicTestConclusionDetail x => Links.Subjects.Topic(_subject, x.TopicId),
            _ => string.Empty
            };

}
