.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 56px);
}

@media (min-width: 600px) {
    .wrapper {
        height: calc(100vh - 64px);
    }
}
