<MudTooltip RootStyle="height: 20px" Placement="@Placement" Arrow>
    <ChildContent>
        <MudIcon Class="cursor-pointer" Icon="@Icons.Material.Outlined.Info" Size="Size.Small"/>
    </ChildContent>
    <TooltipContent>
        <div class="w-max-300">
            <MudText Typo="Typo.subtitle1" Class="mb-3">@Title</MudText>
            <MudText Typo="Typo.body2" Align="Align.Justify">@Description</MudText>
        </div>
    </TooltipContent>
</MudTooltip>

@code {

    [Parameter, EditorRequired]
    public required string Title { get; set; }

    [Parameter, EditorRequired]
    public required string Description { get; set; }

    [Parameter]
    public Placement Placement { get; set; }

}