@page "/account"
@using Education.Web.Pages.Account.Components
@layout MainLayout
@attribute [Authorize]

<PageTitle>@L["Account"]</PageTitle>
<EduPage ShowFooter>
    <EduContainer MaxWidth="EduWidth.W1920" Class="pb-0">
        <PageHeader Title="@L["Account"]" Breadcrumbs="@Breadcrumbs"/>
    </EduContainer>
    
    <EduContainer MaxWidth="EduWidth.W1920">
        <div class="wrapper">
            <div class="account">
                <AccountCard/>
            </div>
            <div class="subjects">
            </div>
        </div>
    </EduContainer>
</EduPage>

@code {
    private List<BreadcrumbItem> Breadcrumbs => new()
    {
        new BreadcrumbItem(L["Account"].Value, AccountLinks.Root)
    };
    
    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

}
