.title {
    font-size: var(--mud-typography-h4-size);
    font-family: var(--mud-typography-h4-family);
    font-weight: var(--mud-typography-h4-weight);
    line-height: var(--mud-typography-h4-lineheight);
    letter-spacing: var(--mud-typography-h4-letterspacing);
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid var(--mud-palette-divider);
}

.cell-align {
    text-align: right;
}

.shopping-cart {
    padding: 12px;
    background-color: var(--mud-palette-surface);
}

.order-summary {
    padding: 12px;
}

::deep .mud-table-body, ::deep .mud-table-cell {
    border: none;
}

::deep .mud-table-head .mud-table-cell {
    text-transform: uppercase;
    color: var(--mud-palette-text-secondary);
}

@media (min-width: 600px) {
    .title {
        padding-top: 24px;
        padding-bottom: 24px;
        margin-bottom: 24px;
    }

    .shopping-cart {
        padding: 24px;
    }

    .order-summary {
        padding: 24px;
    }
}

@media (min-width: 960px) {
    .cell-align {
        text-align: left;
    }
}

@media (min-width: 1280px) {
    .wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
        min-height: calc(100vh - 64px);
    }
}

@media (min-width: 1600px) {
    .wrapper {
        grid-template-columns: 3fr 1fr;
    }
}
