.grid {
    display: block;
}

.account {
    display: none;
}

@media (min-width: 960px) {
    .grid {
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 2fr;
    }

    .account {
        display: block;
    }
}

@media (min-width: 1280px) {
    .grid {
        grid-template-columns: 1fr 3fr;
    }
}

@media (min-width: 1920px) {
    .grid {
        grid-template-columns: 1fr 4fr;
    }
}
