@using MudBlazor.Utilities
<section class="@_outerCss" style="@Style">
    <div class="@_innerCss">
        @ChildContent
    </div>
</section>

@code {

    private CssBuilder _outerCss = CssBuilder.Default("section");
    private CssBuilder _innerCss = CssBuilder.Default("container");

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public string? Style { get; set; }

    [Parameter]
    public bool Paper { get; set; }

    [Parameter]
    public EduWidth MaxWidth { get; set; } = EduWidth.None;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    protected override void OnParametersSet()
    {
        var width = MaxWidth switch {
            EduWidth.None => null,
            EduWidth.W600 => "mw-600",
            EduWidth.W960 => "mw-960",
            EduWidth.W1280 => "mw-1280",
            EduWidth.W1440 => "mw-1440",
            EduWidth.W1600 => "mw-1600",
            EduWidth.W1920 => "mw-1920",
            EduWidth.W2560 => "mw-2560",
            _ => null
            };

        _outerCss = CssBuilder.Default("section")
            .AddClass(Class, !string.IsNullOrEmpty(Class));

        _innerCss = CssBuilder.Default("container")
            .AddClass(width, width is not null)
            .AddClass("mud-paper", Paper);
    }

}