.grid {
    display: grid;
    grid-gap: 12px;
}

@media (min-width: 600px) {
    .grid {
        grid-gap: 24px;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1280px) {
    .grid {
        grid-template-columns: minmax(250px, 600px) minmax(250px, 1fr);
    }
}
