<div class="d-flex flex-row align-center">
    <MudChip Color="@_color" Size="Size.Small" Label Variant="Variant.Outlined">
        @_value
    </MudChip>
    <MudIcon Icon="@_icon" Color="@_color"/>
</div>