.products {
    display: grid;
    gap: 12px;
    grid-template-columns: 100%;
}

@media (min-width: 600px) {
    .products {
        gap: 24px;
        grid-template-columns: 1fr 1fr;
    }

    .products ::deep .inventory {
        grid-column: span 2;
    }
}

@media (min-width: 960px) {
    .products {
        grid-template-columns: repeat(12, minmax(40px, 1fr));
    }

    .products ::deep .bundle {
        grid-column: span 4;
    }

    .products ::deep .inventory {
        grid-column: span 6;
    }
}

@media (min-width: 1280px) {
    .products ::deep .bundle {
        grid-column: span 3;
    }
}

@media (min-width: 1440px) {
    .products ::deep .inventory {
        grid-column: span 4;
    }
}

@media (min-width: 1600px) {
    .products ::deep .bundle {
        grid-column: span 2;
    }
}
