.header {
    background-color: var(--mud-palette-primary);
    overflow: hidden;
    height: 130px;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
}

.gift {
    display: flex;
    justify-content: center;
    position: relative;
}

.gift ::deep .gift-image {
    width: 160px;
    position: absolute;
    bottom: -165px
}
