.grid {
    display: grid;
    gap: 12px;
    grid-template-columns: minmax(100px, 1fr);
    color: var(--mud-palette-text-primary);
    background-color: var(--mud-palette-surface);
    border-radius: var(--mud-default-borderradius);
    transition: box-shadow 300ms cubic-bezier(.4, 0, .2, 1) 0ms;
    padding: 12px;
}

.image {
    display: flex;
    justify-content: center;
}

.breadcrumbs {
    display: flex;
    justify-content: center;
}

@media (min-width: 600px) {
    .grid {
        gap: 24px;
        padding: 24px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .image {
        grid-column: 1 / -1;
    }

    .content {
        grid-column: span 2;
        grid-row: 2;
    }

    .statistics {
        grid-row: 2;
        align-self: center;
    }

    .breadcrumbs {
        justify-content: start;
    }
}

@media (min-width: 960px) {
    .grid {
        grid-template-columns: 140px 1fr auto;
    }

    .image {
        grid-column: 1;
        grid-row: 1;
    }

    .content {
        grid-column: 2;
        grid-row: 1;
    }

    .statistics {
        grid-column: 3;
        grid-row: 1;
    }
}