.grid {
    display: grid;
    gap: 12px;
}

.date-divider {
    grid-column: 1/-1;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 24px 0;
}

.divider-text {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.divider-line {
    display: block;
    height: 1px;
    margin-left: 25px;
    margin-top: 4px;
    flex: auto;
    min-width: 30px;
    align-self: center;
    background-color: var(--mud-palette-divider);
}

@media (min-width: 600px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 960px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}