@inherits LayoutComponentBase

<CascadingTheme>
    <MudLayout Class="d-flex flex-column min-vh-100">
        <AppBar Title="Education" Href="@EduUrl.Root"/>

        <main class="mud-main-content d-flex flex-column flex-grow-1">
            @Body
        </main>

        <MainFooter/>

        <MudScrollToTop TopOffset="400" Style="z-index:2000;">
            <MudFab Icon="@Icons.Material.Outlined.KeyboardArrowUp" Color="Color.Primary"/>
        </MudScrollToTop>
    </MudLayout>
</CascadingTheme>