.wrapper {
    background-image: url("/images/user_appbar_background.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.table {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
}

@media (min-width: 600px) {
    .table {
        padding: 24px 12px;
    }
}
