.input {
    border-top: 1px solid var(--mud-palette-text-primary);
    border-bottom: 1px solid var(--mud-palette-text-primary);
    text-align: center;
    width: 83px;
    outline: none;
}

::deep .mud-expand-panel .mud-expand-panel-header {
    padding: 12px;
}

::deep .mud-switch {
    margin: unset;
    margin-inline: unset;
}

@media (min-width: 600px) {

    ::deep .mud-expand-panel .mud-expand-panel-header {
        padding: 24px;
    }
}