<section class="container">
    <EduFillGrid Class="header">
        @Header
    </EduFillGrid>

    <article class="content">
        @Content
    </article>

    <EduFillGrid Class="sidebar">
        @Sidebar
    </EduFillGrid>
</section>

@code {

    [Parameter]
    public RenderFragment? Header { get; set; }

    [Parameter]
    public RenderFragment? Content { get; set; }

    [Parameter]
    public RenderFragment? Sidebar { get; set; }

}