::deep * {
    font-family: var(--mud-typography-body1-family);
    font-size: var(--article-text-size);
    font-weight: var(--article-text-weight);
    line-height: var(--article-text-height);
    text-align: var(--article-text-align);
}

::deep h1 {
    font-family: var(--mud-typography-h1-family);
    font-size: var(--article-h1-size);
    font-weight: var(--article-h1-weight);
    line-height: var(--article-h1-height);
    letter-spacing: var(--mud-typography-h1-letterspacing);
}

::deep h2 {
    font-family: var(--mud-typography-h2-family);
    font-size: var(--article-h2-size);
    font-weight: var(--article-h2-weight);
    line-height: var(--article-h2-height);
    letter-spacing: var(--mud-typography-h2-letterspacing);
}

::deep h3 {
    font-family: var(--mud-typography-h3-family);
    font-size: var(--article-h3-size);
    font-weight: var(--article-h3-weight);
    line-height: var(--article-h3-height);
    letter-spacing: var(--mud-typography-h3-letterspacing);
}

::deep h4 {
    font-family: var(--mud-typography-h4-family);
    font-size: var(--article-h4-size);
    font-weight: var(--article-h4-weight);
    line-height: var(--article-h4-height);
    letter-spacing: var(--mud-typography-h4-letterspacing);
}

::deep h5 {
    font-family: var(--mud-typography-h5-family);
    font-size: var(--article-h5-size);
    font-weight: var(--article-h5-weight);
    line-height: var(--article-h5-height);
    letter-spacing: var(--mud-typography-h5-letterspacing);
}


::deep h6 {
    font-family: var(--mud-typography-h6-family);
    font-size: var(--article-h6-size);
    font-weight: var(--article-h6-weight);
    line-height: var(--article-h6-height);
    letter-spacing: var(--mud-typography-h6-letterspacing);
}

::deep p {
    font-family: var(--mud-typography-body1-family);
    font-size: var(--article-text-size);
    font-weight: var(--article-text-weight);
    line-height: var(--article-body1-height);
    letter-spacing: var(--mud-typography-body1-letterspacing);
    text-indent: 12px;
    margin-bottom: 12px;
}

::deep img {
    display: block;
    max-width: 100%;
    max-height: 50vh;
}

::deep ol {
    list-style: decimal;
    margin-left: 12px;
    margin-bottom: 12px;
}

::deep ul {
    list-style: disc;
    margin-left: 12px;
    margin-bottom: 12px;
}

::deep hr {
    border: none;
    height: 1px;
    flex-shrink: 0;
    background-color: var(--mud-palette-divider);
}

::deep a {
    color: var(--mud-palette-primary);
}

::deep a:hover {
    text-decoration: underline;
}

::deep pre {
    overflow: auto;
    color: var(--mud-palette-text-primary);
    background-color: var(--mud-palette-background);
    padding: 12px;
}

@media (min-width: 600px) {
    ::deep pre {
        padding: 24px;
        margin-bottom: 24px;
    }

    ::deep ol,
    ::deep ul {
        margin-left: 24px;
        margin-bottom: 24px;
    }

    ::deep p {
        text-indent: 24px;
        margin-bottom: 24px;
    }
}
