.grid {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: minmax(100px, 1fr);
    grid-template-areas: 
        "easy-test"
        "hard-test"
        "mixed-test"
        "event-guesser"
        "monthly"
        "annual";
}

.grid ::deep .easy-test {
    grid-area: easy-test;
}

.grid ::deep .hard-test {
    grid-area: hard-test;
}

.grid ::deep .mixed-test {
    grid-area: mixed-test;
}

.grid ::deep .event-guesser {
    grid-area: event-guesser;
}

.grid ::deep .monthly {
    grid-area: monthly;
}

.grid ::deep .annual {
    grid-area: annual;
}

@media (min-width: 600px) {
    .grid {
        grid-gap: 24px;
        grid-template-columns: repeat(2, minmax(180px, 1fr));
        grid-template-areas: 
            "easy-test hard-test"
            "mixed-test event-guesser"
            "monthly monthly"
            "annual annual";
    }
}

@media (min-width: 1280px) {
    .grid {
        grid-template-columns: repeat(4, minmax(180px, 1fr));
        grid-template-areas: 
            "easy-test hard-test mixed-test event-guesser"
            "monthly monthly monthly monthly"
            "annual annual annual annual";
    }
}
