.wrapper {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.image {
    display: none;
}

.image img {
    max-width: 100%;
}

@media (min-width: 600px) {
    .wrapper {
        gap: 24px;
    }

}

@media (min-width: 960px) {
    .wrapper {
        flex-direction: row;
        align-items: center;

    }

    .content {
        flex: 1 0 40%;
        text-align: start;
    }

    .image {
        display: block;
    }
}
