.grid {
    display: grid;
    grid-template-columns: minmax(100px, 1fr);
    gap: 12px;
}

@media (min-width: 960px) {
    .grid {
        grid-template-columns: 1fr 2fr;
        gap: 24px;
    }
}

@media (min-width: 1280px) {
    .grid {
        grid-template-columns: 1fr 3fr;
    }
}

@media (min-width: 1920px) {
    .grid {
        grid-template-columns: 1fr 4fr;
    }
}
