.grid {
    display: block;
}

.account {
    display: none;
}

@media (min-width: 960px) {
    .grid {
        display: grid;
        grid-gap: 24px;
        grid-template-columns: 2fr 1fr;
    }

    .account {
        display: block;
    }
}

@media (min-width: 1280px) {
    .grid {
        grid-template-columns: 3fr 1fr;
    }
}

@media (min-width: 1920px) {
    .grid {
        grid-template-columns: 4fr 1fr;
    }
}
