.card {
    display: flex;
    flex-direction: column;
    color: var(--mud-palette-text-primary);
    background-color: var(--mud-palette-surface);
    border-radius: var(--mud-default-borderradius);
    transition: box-shadow 300ms cubic-bezier(.4, 0, .2, 1) 0ms;
}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: var(--mud-default-borderradius);
    border-top-right-radius: var(--mud-default-borderradius);
}

.avatar {
    width: 100px;
    height: 100px;
}
