.grid {
    display: grid;
    gap: 12px;
    grid-template-columns: 100%;
    align-items: start;
}

@media (min-width: 600px) {
    .grid {
        gap: 24px;
    }
}

@media (min-width: 960px) {
    .grid {
        grid-template-columns: repeat(12, 1fr);
    }

    .sidebar {
        grid-column: span 5;
        position: sticky;
        top: calc(var(--mud-appbar-height) + 24px);
        align-self: start;
    }

    .content {
        grid-column: span 7;
    }
}

@media (min-width: 1600px) {
    .sidebar {
        grid-column: span 3;
    }

    .content {
        grid-column: span 9;
    }
}
