<h2 class="title @Class">
    <span>@Title</span>
</h2>

@code {

    [Parameter, EditorRequired]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string? Class { get; set; }
}