::deep .number-input {
    max-width: 48px;
    max-height: 36px;
    margin: 0;
}

::deep .number-input .mud-input {
    max-width: 48px;
    max-height: 36px;
    margin: 0;
}

::deep .number-input .mud-input input {
    text-align: center;
}

::deep .price {
    height: 36px;
}

.image {
    width: 42px;
    height: 42px;
}