<div class="@Class">
    <MudChart ChartType="ChartType.Donut" Width="250px" Height="250px" InputData="@Data" ChartOptions="@Options"/>
    <ChartList Items="@Items"/>
</div>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public uint Questions { get; set; }

    [Parameter]
    public uint Correct { get; set; }

    [Parameter]
    public uint Incorrect { get; set; }
    
    private ChartOptions Options => new()
    {
        DisableLegend = true,
        ChartPalette = Questions > 0
            ? new[]
            {
                Colors.Green.Accent4,
                Colors.Red.Default
            }
            : new[]
            {
                Colors.Grey.Lighten1,
                Colors.Grey.Lighten1
            }
    };

    private double[] Data => new double[]
    {
        Correct,
        Incorrect
    };

    private ChartList.Item[] Items => new[]
    {
        new ChartList.Item(L["EventGuesser:Correct"], Correct, Colors.Green.Accent4),
        new ChartList.Item(L["EventGuesser:Incorrect"], Incorrect, Colors.Red.Default),
        new ChartList.Item(L["EventGuesser:Questions"], Questions, null)
    };

}
