.grid {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 85px 1fr;
    grid-template-areas: 
        "icon header"
        "icon progress"
        "description description";
    align-content: center;
    align-items: center;
}

.icon {
    grid-area: icon;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 95px;
}

.header {
    grid-area: header;
}

.title {
    word-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: var(--mud-typography-subtitle1-size);
    font-family: var(--mud-typography-subtitle1-family);
    font-weight: var(--mud-typography-h6-weight);
    line-height: var(--mud-typography-subtitle1-lineheight);
    letter-spacing: var(--mud-typography-subtitle1-letterspacing);
    text-transform: var(--mud-typography-subtitle1-text-transform);
}

.progress {
    grid-area: progress;
}

.description {
    grid-area: description;
}
