.grid {
    display: grid;
    grid-gap: 12px;
    padding: 12px;
}

.grid ::deep .title {
    font-family: var(--mud-typography-h4-family);
    font-size: var(--mud-typography-h4-size);
    font-weight: var(--mud-typography-h4-weight);
    line-height: var(--mud-typography-h4-lineheight);
    letter-spacing: var(--mud-typography-h4-letterspacing);
    margin-bottom: 12px;
}

.image {
    width: 100%;
    margin-bottom: 12px;
}

.image img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: block;
}

@media (min-width: 600px) {
    .grid {
        gap: 24px;
        padding: 24px;
    }

    .grid ::deep .title {
        font-family: var(--mud-typography-h2-family);
        font-size: var(--mud-typography-h2-size);
        font-weight: var(--mud-typography-h2-weight);
        line-height: var(--mud-typography-h2-lineheight);
        letter-spacing: var(--mud-typography-h2-letterspacing);
        margin-bottom: 24px;
    }
}

@media (min-width: 960px) {
    .grid {
        grid-template-columns: 5fr 7fr;
        margin-top: 6.6vmax;
    }

    .test {
        grid-column: 1/-1;
    }

    .image {
        margin-top: 6.6vmax;
        margin-bottom: 5.6vmax;
    }
}

@media (min-width: 1920px) {
    .grid, .test {
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
    }
}
