.section {
    display: flex;
    justify-content: center;
    padding: 0 12px 12px;
}

.container {
    width: 100%;
}

.content-header {
    display: grid;
    grid-gap: 12px;
}

.chapter-title {
    font-size: var(--mud-typography-h5-size);
    font-family: var(--mud-typography-h4-family);
    font-weight: var(--mud-typography-h4-weight);
    line-height: var(--mud-typography-h4-lineheight);
    letter-spacing: var(--mud-typography-h4-letterspacing);
}

.chapter-subtitle {
    font-style: italic;
    font-size: var(--mud-typography-subtitle1-size);
    font-family: var(--mud-typography-subtitle1-family);
    font-weight: var(--mud-typography-subtitle1-weight);
    line-height: var(--mud-typography-subtitle1-lineheight);
    letter-spacing: var(--mud-typography-subtitle1-letterspacing);
}

@media (min-width: 600px) {
    .section {
        padding: 0 24px 24px;
    }

    .content-header {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 24px;
    }

    .contents {
        grid-column: 1/-1;
        order: 1;
    }

    .reactions {
        justify-self: end;
        order: 3;
    }

    .test {
        grid-column: span 2;
        order: 2;
    }

    .chapter-title {
        font-size: var(--mud-typography-h4-size);
    }
}

@media (min-width: 960px) {
    .content-header {
        grid-template-columns: 3fr 1fr;
    }

    .contents {
        grid-column: span 1;
        order: 1;
    }

    .reactions {
        justify-self: end;
        order: 2;
    }

    .test {
        order: 3;
        grid-column: span 1;
    }
}

@media (min-width: 1280px) {
    .content-header {
        grid-template-columns: 10fr 2fr;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1600px;
    }
}
