.article {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
}

.image-container {
    flex: 1 0 50%;
    position: relative;
}

.article-content {
    flex: 1 0 50%;
    margin-top: 24px;
    display: flex;
    align-items: center;
}

.image-content {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.article-image {
    max-width: 70vw;
    max-height: 70vw;
    margin-top: 24px;
    margin-bottom: -24px;
}

.article-image > img {
    width: 100%;
    height: 100%;
    max-height: inherit;
    max-width: inherit;
    object-fit: contain;
}

.image-background {
    height: 100%;
    width: 30%;
    background-color: var(--mud-palette-secondary);
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    padding: 12px;
}

@media (min-width: 600px) {
    .article-image {
        max-width: 50vw;
        margin-top: 60px;
    }

    .image-content {
        align-items: flex-end;
    }

    .test-container {
        grid-column: span 2;
        gap: 24px;
        padding: 24px;
    }
}

@media (min-width: 960px) {
    .article-image {
        max-width: 40vw;
        margin-top: 48px;
    }

    .image-content.right {
        justify-content: flex-start;
    }

    .image-content.left {
        justify-content: flex-end;
    }

    .image-background {
        width: 80%;
    }

    .image-background.right {
        right: 0;
    }

    .image-background.left {
        left: 0;
    }

    .text-container {
        max-width: 35vw;
    }

    .article-content.reverse {
        justify-content: flex-end;
    }
}

@media (min-width: 1280px) {
    .article-image {
        max-width: 25vw;
        max-height: 25vw;
        margin-top: 48px;
    }
}
