.image {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.portrait {
    max-width: 600px;
    min-height: 400px;
    max-height: 70vh;
}

.content {
    padding: 12px 12px 0;
}

.lifetime {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, auto));
    grid-gap: 24px;
}

.characteristics {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 24px;
}

.characteristic ::deep .title {
    color: var(--mud-palette-grey-dark);
}

.characteristic ::deep p {
    font-weight: 500;
    font-size: 1.1rem;
}

.footer {
    padding: 12px;
}

@media (min-width: 600px) {
    .content {
        padding: 24px 24px 0;
    }

    .footer {
        padding: 24px;
    }
}

@media (min-width: 960px) {
    .grid {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr auto;
    }

    .footer {
        grid-column: 1/-1;
    }
}

@media (min-width: 1280px) {
    .grid {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
    }

    .image {
        grid-row: 1/-1;
    }

    .footer {
        grid-column: span 1;
    }
}
