.grid {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    justify-content: center;
}

.title {
    font-size: var(--mud-typography-h6-size);
    font-family: var(--mud-typography-h6-family);
    font-weight: var(--mud-typography-h6-weight);
    letter-spacing: var(--mud-typography-h6-letterspacing);
    margin-bottom: 12px;
}
