.grid {
    display: grid;
    grid-gap: 12px;

}

@media (min-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 24px;
    }
}

@media (min-width: 600px) and (max-width: 960px) {
    .grid > ::deep div:last-child {
        grid-column: span 2;
    }
}


@media (min-width: 960px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
