.grid {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
}

.full-row {
    grid-column: 1/-1;
}

.centered-row {
    justify-self: center;
}
