.markdown ::deep img {
    display: block;
    max-width: 100%;
    max-height: 50vh;
}

.markdown ::deep a {
    color: var(--mud-palette-primary);
}

.markdown ::deep a:hover {
    text-decoration: underline;
}

.markdown ::deep p {
    font-family: var(--mud-typography-body1-family);
    font-size: var(--mud-typography-body1-size);
    font-weight: var(--mud-typography-body1-weight);
    line-height: var(--mud-typography-body1-lineheight);
    letter-spacing: var(--mud-typography-body1-letterspacing);
}
