.grid {
    display: grid;
    gap: 12px;
    grid-template-columns: 100%;
}

@media (min-width: 600px) {
    .grid {
        gap: 24px;
    }
}

@media (min-width: 960px) {
    .grid {
        grid-template-columns: repeat(12, 1fr);
    }

    .grid .sidebar {
        grid-column: span 4;
    }

    .grid .content {
        grid-column: span 8;
    }
}

@media (min-width: 1600px) {
    .grid .sidebar {
        grid-column: span 3;
    }

    .grid .content {
        grid-column: span 9;
    }
}
