#app {
    min-height: 100vh;
}

.main-content {
    min-height: 100vh;
}

.mudblazor-navmenu {
    display: flex;
    flex-direction: column;
    height: 100%;
}

@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}

.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

.app-loader {
    position: fixed;
    top: 41%;
    left: 47.5%;
}

.app-loader .spinner-border {
    width: 5rem;
    height: 5rem;
}