.header {
    display: flex;
    border-bottom: 1px solid var(--mud-palette-background-grey);
}

.header ::deep h6 {
    padding: 0 16px 3px 16px;
    border-bottom: 3px solid var(--mud-palette-primary);
}

.section {
    display: flex;
    justify-content: center;
}

.black-background {
    background-color: var(--mud-palette-black);
}

.container {
    width: 100%;
}

.dummy-grid {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
}

@media (min-width: 600px) {
    .dummy-grid {
        grid-gap: 24px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}
