.container {
    padding: 40px 0;
    background-image: url('/images/history/main_page_bg.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.title {
    text-align: center;
    padding: 12px;
    font-size: var(--mud-typography-h2-size);
    font-family: var(--mud-typography-h2-family);
    font-weight: var(--mud-typography-h2-weight);
    line-height: var(--mud-typography-h2-lineheight);
    letter-spacing: var(--mud-typography-h2-letterspacing);
}

.subtitle {
    text-align: center;
    font-size: var(--mud-typography-h6-size);
    font-family: var(--mud-typography-h5-family);
    font-weight: var(--mud-typography-h5-weight);
    line-height: var(--mud-typography-h5-lineheight);
    letter-spacing: var(--mud-typography-h5-letterspacing);
    padding-left: 12px;
    padding-right: 12px;
}

.period {
    text-align: center;
}

@media (min-width: 600px) {
    .container {
        padding: 160px 0;
    }

    .title {
        font-size: var(--mud-typography-h1-size);
        font-family: var(--mud-typography-h1-family);
        font-weight: var(--mud-typography-h1-weight);
        line-height: var(--mud-typography-h1-lineheight);
        letter-spacing: var(--mud-typography-h1-letterspacing);
    }

    .subtitle {
        font-size: var(--mud-typography-h5-size);
    }
}
