.header {
    display: flex;
    border-bottom: 1px solid var(--mud-palette-background-grey);
    margin-bottom: 12px;
}

.header ::deep h6 {
    padding: 0 16px 3px 16px;
    border-bottom: 3px solid var(--mud-palette-primary);
}
