.image {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: var(--mud-default-borderradius);
}

.cover {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: var(--mud-default-borderradius);
}
