@using Elwark.Education.Web.Gateways.History

<div class="image @Class" style="background-image: url('@SubjectType.History.GetStatic().Image')">
    <div class="cover">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" OnClick="@OnClick">
            @if (_isLoading)
            {
                <div class="d-flex flex-row align-center">
                    <MudProgressCircular Class="mx-12" Size="Size.Small" Indeterminate="true"/>
                </div>
            }
            else
            {
                @L["Topics:Random"]
            }
        </MudButton>
    </div>
</div>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Inject]
    private IHistoryClient Client { get; set; } = default!;

    [Inject]
    private NavigationManager Navigation { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    private bool _isLoading;

    private async Task OnClick()
    {
        if (_isLoading)
            return;

        _isLoading = true;

        var result = await Client.Topic.GetRandomAsync();
        if (result.Status == ResponseStatus.Success)
            Navigation.NavigateTo(Links.Subject.History.Topic(result.Data.Id));

        _isLoading = false;
    }

}
