.image-background {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cover {
    background-color: var(--mud-palette-overlay-dark);
}

.header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: var(--mud-palette-white);
    min-height: 380px;
    padding: 12px;
}

@media (min-width: 600px) {
    .header {
        gap: 24px;
        padding: 24px;
    }
}
