.grid {
    display: grid;
    gap: 24px;
}

.link:hover ::deep .title {
    color: var(--mud-palette-primary);
    text-decoration: underline;
}

.link:hover ::deep .icon {
    color: var(--mud-palette-primary);
}

@media (min-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }
}