<nav class="breadcrumbs @Class">
    <ol class="breadcrumbs-list">
        @for (var i = 0; i < Items.Count; i++)
        {
            var item = Items[i];
            <li>
                <MudLink Href="@item.Href">@item.Text</MudLink>
            </li>
            @if (i != Items.Count - 1)
            {
                <li class="breadcrumbs-separator">
                    <MudIcon Icon="@Separator" Size="Size.Small"/>
                </li>
            }
        }
    </ol>
</nav>

@code {

    [Parameter]
    public List<BreadcrumbItem> Items { get; init; } = new();
    
    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public string Separator { get; set; } = Icons.Filled.ChevronRight;

}