<MudPaper Class="pa-6">
    <div class="header-grid">
        <MudIcon Icon="@Icon" Size="Size.Large" Color="Color.Primary" Style="justify-self: center"/>
        <div class="header-text">
            <MudText Typo="Typo.h5">
                @Title
            </MudText>
            <MudDivider DividerType="DividerType.FullWidth" Class="my-2"/>
            <MudText Typo="Typo.h4" Color="Color.Primary">
                @Value
            </MudText>
            @if (Caption is not null)
            {
                <MudDivider DividerType="DividerType.FullWidth" Class="my-2"/>
                @Caption
            }
        </div>
    </div>

    @if (Details is not null)
    {
        <MudDivider DividerType="DividerType.FullWidth" Class="mt-8 mb-2"/>
        @Details
    }
</MudPaper>

@code {

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public object Value { get; set; } = string.Empty;

    [Parameter]
    public string Icon { get; set; } = Filled.Adjust;
    
    [Parameter]
    public RenderFragment? Caption { get; set; }

    [Parameter]
    public RenderFragment? Details { get; set; }

}