.background {
    max-width: 960px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: var(--mud-default-borderradius);
    margin: 24px;
}

.card {
    border-radius: var(--mud-default-borderradius);
    background-color: rgba(0, 0, 0, 0.4);
    color: var(--mud-palette-white);
    padding: 24px;
}

@media (min-width: 960px) {
    .background {
        margin: 24px auto;
    }
}