@using Elwark.Education.Web.Services.History.Model

<div class="background" style="background-image: url(@Period.Image)">
    <div class="card">
        <MudText Typo="Typo.h1" Align="Align.Center" Class="mb-6">
            @Period.Title
        </MudText>
        <MudText Typo="Typo.body1" Align="Align.Center">
            @Period.Description
        </MudText>
    </div>
</div>

@code {

    [Parameter]
    public HistoryPeriodModel Period { get; init; } = default!;

}