@using Elwark.Education.Web.Services.History.Models
<div class="@Class" style="max-width: 780px;display: flex; flex-direction: row; justify-content: center; align-items: center;">
    <MudAvatar Image="@Period.Image" Style="width: 90px; height: 90px; margin-right: 4px"/>
    <MudText Typo="Typo.h2" Align="Align.Center">@Period.Title</MudText>
</div>

@code {

    [Parameter]
    public HistoryPeriodModel Period { get; init; } = default!;

    [Parameter]
    public string? Class { get; init; }

}