.root {
    display: flex;
    align-items: center;
}

.progress {
    display: inline-flex;
    position: relative;
}

.wrapper {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center
}