.markdown ::deep .float-left {
    float: left;
}

.markdown ::deep .float-right {
    float: right;
}

.markdown ::deep .float-clear {
    clear: both;
}

.markdown ::deep figure {
    border: thin var(--mud-palette-background) solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: auto;
}

.markdown ::deep figcaption {
    background-color: var(--mud-palette-black);
    color: var(--mud-palette-white);
    padding: 3px;
    text-align: center;
}

.markdown ::deep img {
    display: block;
    max-width: 100%;
    max-height: 50vh;
}

.markdown ::deep ol, ul {
    margin-left: 16px;
}

.markdown ::deep hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.markdown ::deep a {
    color: var(--mud-palette-primary);
}

.markdown ::deep a:hover {
    text-decoration: underline;
}

.markdown ::deep p {
    font-size: 0.95rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: .00938em;
}