@using Markdig
@using Markdown = Markdig.Markdown
<div class="markdown @Class">
    @((MarkupString) Markdown.ToHtml(Text, _pipeline))
</div>

@code {

    [Parameter]
    public string Text { get; set; } = string.Empty;

    [Parameter]
    public string? Class { get; set; }

    private MarkdownPipeline? _pipeline;

    protected override void OnInitialized() =>
        _pipeline = new MarkdownPipelineBuilder()
            .UseAdvancedExtensions()
            .Build();

}