<div class="d-flex align-center justify-center flex-column h-100">
    <MudText Typo="Typo.h1">404</MudText>
    <MudText Typo="Typo.h5" Class="mb-6">NOT FOUND</MudText>
    <MudButton Link="@Links.Index" Color="Color.Primary" Variant="Variant.Filled">
        Go to homepage
    </MudButton>
</div>