<div class="d-flex justify-content-center app-loader flex-column">
    <div class="spinner-border" role="status">
        <span class="sr-only"></span>
    </div>
    <MudText Typo="Typo.subtitle1" Align="Align.Center" Class="pt-5">@Title</MudText>
</div>

@code {
    [Parameter]
    public string? Title { get; set; }
}