.header {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 24px;
    padding: 24px;
}

.header-text ::deep a {
    font-family: var(--mud-typography-h4-family);
    font-size: var(--mud-typography-h4-size);
    font-weight: var(--mud-typography-h4-weight);
    line-height: var(--mud-typography-h4-lineheight);
    letter-spacing: var(--mud-typography-h4-letterspacing);
    color: var(--mud-palette-white);
    border-bottom: 2px solid var(--mud-palette-white);
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu-item {
    margin: 12px;
    color: var(--mud-palette-primary-text);
}

.item-active {
    color: var(--mud-palette-secondary);
}

.menu-item ::deep .item-icon {
    display: none;
}

.item-link:hover ::deep .item-text {
    color: var(--mud-palette-secondary);
}

@media (min-width: 600px) {
    .header {
        grid-template-columns: 120px 1fr;
        justify-items: start;
        align-items: center;
    }

    .header-text ::deep a {
        font-family: var(--mud-typography-h3-family);
        font-size: var(--mud-typography-h3-size);
        font-weight: var(--mud-typography-h3-weight);
        line-height: var(--mud-typography-h3-lineheight);
        letter-spacing: var(--mud-typography-h3-letterspacing);
    }

    .menu-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 24px;
    }

    .menu-item ::deep .item-icon {
        display: block;
        color: inherit;
        width: 30px;
        height: 30px;
    }
}

@media (min-width: 960px) {
    .header-text ::deep a {
        font-family: var(--mud-typography-h2-family);
        font-size: var(--mud-typography-h2-size);
        font-weight: var(--mud-typography-h2-weight);
        line-height: var(--mud-typography-h2-lineheight);
        letter-spacing: var(--mud-typography-h2-letterspacing);
    }

    .menu-item ::deep .item-icon {
        width: 40px;
        height: 40px;
    }
}
