.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    color: var(--mud-palette-white);
}

.history-avatar {
    background: linear-gradient(140deg, rgba(226, 110, 67, 1) 0%, rgba(248, 206, 14, 1) 100%)
}

.physics-avatar {
    background: linear-gradient(140deg, rgba(28,46,76,1) 0%, rgba(108,208,255,1) 100%)
}

.astronomy-avatar {
    background: linear-gradient(140deg, rgba(53,58,95,1) 0%, rgba(158,186,243,1) 100%)
}