.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mud-palette-white);
}

.small {
    height: 38px;
    width: 38px;
}

.medium {
    height: 48px;
    width: 48px;
}

.large {
    height: 58px;
    width: 58px;
}
