<div class="card" style="background-image: url(@Background)">
    <a href="@Href" class="content">
        <div class="avatar-container rounded" style="@AvatarStyles">
            <MudIcon Icon="@Avatar" Size="Size.Medium"/>
        </div>
        <div class="pa-6">
            <MudText Typo="Typo.body2" Class="my-2">Subject</MudText>
            <MudText Typo="Typo.h5" Class="my-2">@Title</MudText>
            <MudDivider/>
            <MudText Typo="Typo.subtitle2" Class="my-2">
                <strong>@Topics+</strong> Topics
            </MudText>
            <MudText Typo="Typo.subtitle2" Class="my-2">
                <strong>@Articles+</strong> Articles
            </MudText>
            <MudText Typo="Typo.subtitle2" Class="my-2">
                <strong>@Questions+</strong> Questions
            </MudText>
        </div>
    </a>
</div>

@code {

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string Href { get; set; } = "/";
    
    [Parameter]
    public string Background { get; set; } = string.Empty;
    
    [Parameter]
    public string Avatar { get; set; } = string.Empty;

    [Parameter]
    public string AvatarStyles { get; set; } = string.Empty;

    [Parameter]
    public int Topics { get; set; }

    [Parameter]
    public int Articles { get; set; }

    [Parameter]
    public int Questions { get; set; }

}