@using MudBlazor.Utilities
<div class="@Classes">
    <MudIcon Icon="@SubjectType.GetIcon()" Size="@Size"/>
</div>

@code {

    [Parameter]
    public SubjectType SubjectType { get; set; }

    [Parameter]
    public Size Size { get; set; }

    private string Classes => CssBuilder.Empty()
        .AddClass("icon")
        .AddClass("rounded")
        .AddClass(Size.ToString().ToLowerInvariant())
        .AddClass(SubjectType.ToString().ToLowerInvariant())
        .Build();

}