<div class="icon @Subject.ToString().ToLower()-avatar rounded">
    <MudIcon Icon="@Subject.GetIcon()" Size="Size.Medium"/>
</div>

@code {

    [Parameter]
    public Subject Subject { get; set; }

}