@using MudBlazor.Utilities
<div class="@Classes" style="background: @_static.Gradient">
    <MudIcon Icon="@_static.Icon" Size="@Size"/>
</div>

@code {

    [Parameter]
    public SubjectType SubjectType { get; set; }

    [Parameter]
    public Size Size { get; set; }

    protected override void OnParametersSet() => 
        _static = SubjectType.GetStatic();

    private string Classes => CssBuilder.Empty()
        .AddClass("icon")
        .AddClass("rounded")
        .AddClass(Size.ToString().ToLowerInvariant())
        .Build();

    private SubjectStatic _static = new(string.Empty, string.Empty, string.Empty);
}
