@using Elwark.Education.Web.Infrastructure.Extensions
<div class="icon @Subject.ToString().ToLowerInvariant()-avatar @Size.ToString().ToLower() rounded">
    <MudIcon Icon="@Subject.GetIcon()" Size="@Size"/>
</div>

@code {

    [Parameter]
    public Subject Subject { get; set; }
    
    [Parameter]
    public Size Size { get; set; }
}