.container {
    max-height: 99vh;
    overflow-y: auto
}

.pricing-grid {
    display: grid;
    gap: 24px;
    margin: 24px;
}

.pricing-card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    box-shadow: var(--mud-elevation-1);
    border-radius: var(--mud-default-borderradius);
}

@media (min-width: 600px) {
    .pricing-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        justify-items: center;
    }
}