<MudGrid>
    <MudItem xs="12" md="6">
        <div class="mud-elevation-2 rounded item">
            <MudText Typo="Typo.body1">Month</MudText>
            <div>
                <MudText Typo="Typo.h5" Inline="true">
                    $9
                </MudText>
                <MudText Typo="Typo.subtitle2" Inline="true">
                    /month
                </MudText>
            </div>
            <MudDivider Class="my-4"/>
            <MudText Typo="Typo.caption">
                <b>20</b> proposals/month <br/>
                <b>10</b> templates <br/>
                Analytics <b>dashboard</b> <br/>
                <b>Email</b> alerts
            </MudText>
        </div>
    </MudItem>
    <MudItem xs="12" md="6">
        <div class="mud-elevation-1 rounded item">
            <MudText Typo="Typo.body1">Year</MudText>
            <div>
                <MudText Typo="Typo.h5" Inline="true">
                    $99
                </MudText>
                <MudText Typo="Typo.subtitle2" Inline="true">
                    /year
                </MudText>
            </div>
            <MudDivider Class="my-4"/>
            <MudText Typo="Typo.caption">
                <b>20</b> proposals/month <br/>
                <b>10</b> templates <br/>
                Analytics <b>dashboard</b> <br/>
                <b>Email</b> alerts
            </MudText>
        </div>
    </MudItem>
</MudGrid>