.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    padding: 12px;
    box-shadow: var(--mud-elevation-1);
    border-radius: var(--mud-default-borderradius);
}