.form-grid {
    display: grid;
    grid-template-rows: 1fr;
    gap: 12px;
}

.question-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.answer-image {
    width: 100%;
    height: auto;
}

.answer-image-container{
    max-width: 300px;
}