.grid {
    display: grid;
    grid-template-rows: 1fr;
    gap: 12px;
    padding: 12px;
}

.question-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.answer-image {
    width: 100%;
    height: auto;
}

.answer-image-container {
    max-width: 300px;
}

.options-grid {
    display: grid;
    grid-gap: 12px;
    justify-items: center;
}

@media (min-width: 600px) {
    .grid {
        grid-gap: 24px;
        padding: 24px;
    }

    .options-grid {
        grid-gap: 24px;
        grid-template-columns: repeat(2, 1fr);
        justify-items: start;
    }
}

@media (min-width: 960px) {
    .options-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
