@media (min-width: 600px) {
    .grid {
        display: grid;
        grid-gap: 24px;
        align-items: end;
        grid-template-columns: minmax(340px, 1fr) repeat(auto-fill, minmax(220px, 1fr));
    }
}
