.grid {
    display: grid;
    grid-template-rows: auto 1fr 40px auto;
}

.image {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 180px;
    border-top-left-radius: var(--mud-default-borderradius);
    border-top-right-radius: var(--mud-default-borderradius);
}

::deep .favorite {
    background-color: var(--mud-palette-surface);
    border-radius: var(--mud-default-borderradius);
}

::deep .favorite:hover {
    background-color: var(--mud-palette-background-grey);
}
