.grid {
    display: grid;
    grid-template-rows: auto 1fr 40px auto;
}

.image {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 180px;
}

.progress {
    display: grid;
    gap: 6px;
    grid-template-columns: 3fr auto 1fr;
    align-items: center;
}
