<MudPaper class="d-flex flex-row justify-space-between align-center pa-6">
    <div>
        <MudText Typo="Typo.h5">
            @Title
        </MudText>
        <MudText Typo="Typo.body2">
            @SubTitle
        </MudText>
    </div>
    <MudIcon Icon="@Icon" Size="Size.Large" Color="Color.Primary"/>
</MudPaper>

@code {

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string SubTitle { get; set; } = string.Empty;

    [Parameter]
    public string Icon { get; set; } = Filled.Adjust;

}