.common-grid {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
}

.ranking-grid {
    margin-top: 12px;
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
}

@media (min-width: 600px) {
    .common-grid {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@media (min-width: 960px) {
    .common-grid {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }

    .ranking-grid {
        grid-template-columns: 1fr 1fr;
    }

    .common-grid > ::deep div:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }

    .common-grid > ::deep div:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
    }

    .common-grid > ::deep div:nth-child(3),
    .common-grid > ::deep div:nth-child(4) {
        grid-row-end: span 2;
    }
}

@media (min-width: 1280px) {
    .common-grid {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}