.form {
    display: grid;
    gap: 12px;
}

.submit {
    justify-self: center;
}

@media (min-width: 600px) {
    .form {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        align-items: baseline;
        gap: 24px;
    }

    .submit {
        grid-column: 1/-1;
    }
}
