.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--mud-palette-divider);
    margin-bottom: 4px;
}

.row:last-child {
    border-bottom: none;
}

.dot {
    box-sizing: border-box;
    margin: 0 4px 0 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    position: relative;
    display: inline-flex;
}
