.container ::deep .radio-group > div > div {
    display: grid;
    grid-row-gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.container ::deep .radio {
    display: flex;
}

.container ::deep .radio .mud-radio-content {
    width: 100%;
}

.container ::deep .radio-image {
    width: 100%;
    aspect-ratio: 16/9;
}

@media (min-width: 760px) {
    .container ::deep .radio-group > div > div {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
}
