.container ::deep .radio-group {
    display: grid;
    grid-row-gap: 12px;
    grid-template-columns: 1fr;
}

.container ::deep .radio {
    display: flex;
}

.container ::deep .radio .mud-radio-content {
    width: 100%;
}

.container ::deep .radio-image {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 100px;
    height: 60px;
}

@media (min-width: 600px) {
    .container ::deep .radio-group {
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
}

@media (min-width: 960px) {
    .container ::deep .radio-image {
        width: 140px;
        height: 80px;
    }
}
