.grid {
    display: grid;
    gap: 24px;
    margin: 0 auto;
}

.text {
    color: var(--mud-palette-white);
}

.image {
    display: flex;
    justify-content: center;
}

.image > img {
    max-width: 100%;
    max-height: 30vh;
}

@media (min-width: 960px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .text {
        order: 1;
    }

    .image {
        order: 2;
        justify-content: flex-end;
    }
}
