.grid {
    display: grid;
    gap: 12px;
    grid-template-columns: 85px 1fr;
    grid-template-areas: 
        "icon header"
        "icon progress"
        "description description";
    align-content: center;
    align-items: center;
}

.icon {
    grid-area: icon;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 100px;
    border-radius: var(--mud-default-borderradius);
}

.image {
    width: 42px;
    height: 42px;
}

.header {
    grid-area: header;
}

.title {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
    font-size: var(--mud-typography-subtitle1-size);
    font-family: var(--mud-typography-subtitle1-family);
    font-weight: var(--mud-typography-h6-weight);
    line-height: var(--mud-typography-subtitle1-lineheight);
    letter-spacing: var(--mud-typography-subtitle1-letterspacing);
    text-transform: var(--mud-typography-subtitle1-text-transform);
}

.progress {
    grid-area: progress;
}

.description {
    grid-area: description;
}

.completed {
    box-shadow: inset 0 0 5px 5px #e2ac6b;
    /*color: #FFF;*/
    /*background-color: #e2ac6b;*/
    /*background-image: linear-gradient(315deg, #e2ac6b 0%, #cba36d 74%);*/
}
