.sticky-info {
    position: sticky;
    top: 96px;
}

@media (min-width: 600px) {
    .sticky-info {
        margin-right: 12px;
    }
}

@media (min-width: 960px) {
    .sticky-info {
        margin-right: 24px;
    }
}