@using System.Collections.ObjectModel

<section class="products">
    @foreach (var product in _products)
    {
        @ChildContent(product)
    }
</section>

@code {
    private IReadOnlyCollection<ProductDto> _products = ReadOnlyCollection<ProductDto>.Empty;

    [Parameter, EditorRequired]
    public IQueryable<ProductDto> Products { get; set; } =
        new EnumerableQuery<ProductDto>(Enumerable.Empty<ProductDto>());

    [Parameter, EditorRequired]
    public ProductsFilter Filter { get; set; } = ProductsFilter.Empty;

    [Parameter]
    public RenderFragment<ProductDto> ChildContent { get; set; } = x => @<h2>@x.Product.Title</h2>;

    protected override void OnParametersSet() =>
        _products = Products.Apply(Filter);

}