.card {
    display: flex;
    flex-direction: column;
}

.card-header {
    box-sizing: border-box;
    overflow: hidden;
    border-top-left-radius: var(--mud-default-borderradius);
    border-top-right-radius: var(--mud-default-borderradius);
    position: relative;
    height: 200px;
}

.card-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: transform 2s ease;
}

.card-header:hover img {
    transform: scale(1.1);
}

.content {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
}

@media (min-width: 600px) {
    .card.horizontal {
        flex-direction: row;
    }

    .card.horizontal .card-header {
        min-width: 33%;
        height: auto;
        border-top-left-radius: var(--mud-default-borderradius);
        border-bottom-left-radius: var(--mud-default-borderradius);
        border-top-right-radius: 0;
    }

    .card.horizontal .content {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

@media (min-width: 1920px) {
    .card-header {
        height: 250px;
    }
}
