.chapter-title {
    font-size: var(--mud-typography-h5-size);
    font-family: var(--mud-typography-h4-family);
    font-weight: var(--mud-typography-h4-weight);
    line-height: var(--mud-typography-h4-lineheight);
    letter-spacing: var(--mud-typography-h4-letterspacing);
}

.toolbar {
    display: grid;
    grid-gap: 12px;
}

.progress {
    display: grid;
    grid-gap: 12px;
    padding: 12px;
}

@media (min-width: 600px) {
    .toolbar {
        grid-template-columns: 1fr auto auto;
    }

    .progress {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        grid-gap: 24px;
        padding: 24px;
    }
}

@media (min-width: 960px) {
    .chapter-title {
        font-size: var(--mud-typography-h4-size);
    }

    .toolbar {
        grid-template-columns: 1fr auto auto auto;
    }
}

@media (min-width: 1600px) {
    .d-lg-plus-block {
        display: block !important;
    }
}
