.grid {
    display: grid;
    grid-gap: 12px;
    grid-template-areas: 
        "subject"
        "level"
        "achievements"
        "balance"
        "daily-reward"
        "easy-test"
        "hard-test"
        "mixed-test"
        "event-guesser"
        "activity";
}

.grid ::deep .subject {
    grid-area: subject;
}

.grid ::deep .achievements {
    grid-area: achievements;
}

.grid ::deep .balance {
    grid-area: balance;
}

.grid ::deep .level {
    grid-area: level;
}

.grid ::deep .daily-reward {
    grid-area: daily-reward;
}

.grid ::deep .easy-test {
    grid-area: easy-test;
}

.grid ::deep .hard-test {
    grid-area: hard-test;
}

.grid ::deep .mixed-test {
    grid-area: mixed-test;
}

.grid ::deep .event-guesser {
    grid-area: event-guesser;
}

.grid ::deep .activity {
    grid-area: activity;
}

@media (min-width: 600px) {
    .grid {
        grid-gap: 24px;
    }
}

@media (min-width: 720px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "subject balance"
            "level balance"
            "daily-reward balance"
            "achievements achievements"
            "easy-test hard-test"
            "mixed-test event-guesser"
            "activity activity";
    }
}

@media (min-width: 1280px) {
    .grid {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        grid-template-areas:
            "subject level balance"
            "achievements achievements balance"
            "achievements achievements daily-reward"
            "easy-test hard-test mixed-test"
            "event-guesser activity activity";
    }
}

@media (min-width: 1600px) {
    .grid {
        grid-template-columns: repeat(4, minmax(160px, 1fr));
        grid-template-areas:
            "subject achievements achievements level"
            "easy-test hard-test mixed-test daily-reward"
            "easy-test hard-test mixed-test balance"
            "event-guesser activity activity balance";
    }
}
