.grid {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: minmax(100px, 1fr);
    grid-template-areas: 
        "subject"
        "level"
        "balance"
        "daily-reward"
        "achievements"
        "easy-test"
        "hard-test"
        "mixed-test"
        "event-guesser"
        "activity"
        "transactions";
}

.grid ::deep .subject {
    grid-area: subject;
}

.grid ::deep .achievements {
    grid-area: achievements;
}

.grid ::deep .transactions {
    grid-area: transactions;
}

.grid ::deep .level {
    grid-area: level;
}

.grid ::deep .balance {
    grid-area: balance;
}

.grid ::deep .daily-reward {
    grid-area: daily-reward;
}

.grid ::deep .easy-test {
    grid-area: easy-test;
}

.grid ::deep .hard-test {
    grid-area: hard-test;
}

.grid ::deep .mixed-test {
    grid-area: mixed-test;
}

.grid ::deep .event-guesser {
    grid-area: event-guesser;
}

.grid ::deep .activity {
    grid-area: activity;
}

@media (min-width: 600px) {
    .grid {
        grid-gap: 24px;
        grid-template-columns: repeat(2, minmax(160px, 1fr));
        grid-template-areas:
        "easy-test subject"
        "hard-test level"
        "hard-test balance"
        "mixed-test daily-reward"
        "mixed-test transactions"
        "event-guesser transactions"
        "activity activity"
        "achievements achievements";
    }
}

@media (min-width: 960px) {
    .grid {
        grid-template-columns: repeat(3, minmax(180px, 1fr));
        grid-template-areas:
            "easy-test hard-test subject"
            "mixed-test event-guesser level"
            "mixed-test event-guesser balance"
            "activity activity daily-reward"
            "activity activity transactions"
            "achievements achievements transactions";
    }
}

@media (min-width: 1600px) {
    .grid {
        grid-template-columns: repeat(4, minmax(180px, 1fr));
        grid-template-areas:
            "easy-test hard-test mixed-test subject"
            "easy-test hard-test mixed-test level"
            "event-guesser activity activity level"
            "event-guesser activity activity balance"
            "event-guesser activity activity daily-reward"
            "achievements achievements transactions transactions"
            "achievements achievements transactions transactions";
    }
}

@media (min-width: 1920px) {
    .grid {
        grid-template-columns: repeat(5, minmax(180px, 1fr));
        grid-template-areas:
            "easy-test hard-test mixed-test event-guesser subject"
            "activity activity activity daily-reward level"
            "activity activity activity balance balance"
            "achievements achievements achievements transactions transactions"
            ". . . transactions transactions";
    }
}
