.rank {
    width: 50px;
}

.name {
    display: flex;
    align-items: center;
    flex: 1 1 0;
}

.level {
    display: flex;
    align-items: center;
    width: 80px;
}

.experience {
    display: flex;
    align-items: center;
    width: 100px;
}

.highlight-paper {
    color: var(--mud-palette-primary-darken);
    background-color: var(--mud-palette-primary-hover);
    border-radius: var(--mud-default-borderradius);
    transition: box-shadow 300ms cubic-bezier(.4, 0, .2, 1) 0ms;
}

.mud-paper.hover:hover {
    background-color: var(--mud-palette-action-default-hover);
}