.header {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px;
}

.avatar-wrapper {
    width: 100px;
    height: 100px;
    grid-row: span 2;
}

.avatar {
    width: 100%;
}

.level-wrapper {
    align-self: end;
}