.header {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px;
    align-items: start;
}

.avatar-wrapper {
    width: 60px;
    height: 60px;
}

.avatar {
    width: 100%;
}

.level-wrapper {
    align-self: end;
}
