.grid {
    display: grid;
    gap: 12px;
}

.title {
    font-family: var(--mud-typography-h3-family);
    font-size: var(--mud-typography-h3-size);
    font-weight: var(--mud-typography-h2-weight);
    line-height: var(--mud-typography-h3-lineheight);
    letter-spacing: var(--mud-typography-h3-letterspacing);
    text-align: center;
}

.battle-image {
    max-width: 1280px;
    max-height: 720px;
}

.battle-image ::deep .image {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

@media (min-width: 600px) {
    .grid {
        gap: 24px;
    }

    .title {
        font-family: var(--mud-typography-h2-family);
        font-size: var(--mud-typography-h2-size);
        font-weight: var(--mud-typography-h2-weight);
        line-height: var(--mud-typography-h2-lineheight);
        letter-spacing: var(--mud-typography-h2-letterspacing);
    }
}

@media (min-width: 960px) {
    .grid {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(6, auto) 1fr;
    }

    .grid ::deep .header {
        grid-column: span 8;
    }

    .grid ::deep .battle-image {
        grid-column: span 4;
        align-self: center;
    }
    
    .grid ::deep .content {
        grid-column: span 8;
        grid-row: 2/-1;
    }

    .grid ::deep .toolbar,
    .grid ::deep .map,
    .grid ::deep .conflict-parties,
    .grid ::deep .test,
    .grid ::deep .rating {
        grid-column: span 4;
    }
}

@media (min-width: 1280px) {
    .grid ::deep .header {
        grid-column: span 7;
    }

    .grid ::deep .battle-image {
        grid-column: span 5;
    }
    
    .grid ::deep .content {
        grid-column: span 9;
    }

    .grid ::deep .toolbar,
    .grid ::deep .map,
    .grid ::deep .conflict-parties,
    .grid ::deep .test,
    .grid ::deep .rating {
        grid-column: span 3;
    }
}
