.grid {
    display: grid;
    grid-gap: 12px;
    grid-template-areas: 
        "index"
        "toolbar"
        "chapters"
        "test"
        "rating";
}

.chapters {
    grid-area: chapters;
}

.toolbar {
    grid-area: toolbar;
}

.index {
    grid-area: index;
}

.test {
    grid-area: test;
}

.rating {
    grid-area: rating;
}

.chapter {
    padding: 12px;
    margin-bottom: 12px;
}

.chapter:last-child {
    margin-bottom: 0;
}

.chapter .title {
    text-align: center;
    font-size: var(--mud-typography-h5-size);
    font-family: var(--mud-typography-h5-family);
    font-weight: var(--mud-typography-h5-weight);
    line-height: var(--mud-typography-h5-lineheight);
    letter-spacing: var(--mud-typography-h5-letterspacing);
    margin-bottom: 12px;
}

.chapter ::deep .subtitle {
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    font-style: italic;
}

.chapter ::deep .subtitle p {
    font-size: var(--mud-typography-body2-size);
    font-family: var(--mud-typography-body2-family);
    font-weight: var(--mud-typography-body2-weight);
    line-height: var(--mud-typography-body2-lineheight);
    letter-spacing: var(--mud-typography-body2-letterspacing);
}

.chapter ::deep .divider {
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
}

@media (min-width: 600px) {
    .grid {
        grid-gap: 24px;
    }

    .chapter {
        padding: 24px;
        margin-bottom: 24px;
    }

    .chapter ::deep .subtitle {
        margin-bottom: 24px;
    }

    .chapter ::deep .divider {
        margin-bottom: 24px;
        max-width: 300px;
    }
}

@media (min-width: 960px) {
    .grid {
        grid-template-areas: 
            "index index"
            "toolbar toolbar"
            "chapters chapters"
            "test rating"
            "test .";
    }
}

@media (min-width: 1280px) {
    .grid {
        grid-template-columns: 3fr 1fr;
        grid-template-areas: 
            "chapters toolbar"
            "chapters index"
            "chapters test"
            "chapters rating"
            "chapters .";
    }
}
