.background {
    padding: 12px 12px 0;
}

.title {
    font-size: var(--mud-typography-h4-size);
    font-family: var(--mud-typography-h4-family);
    font-weight: var(--mud-typography-h4-weight);
    line-height: var(--mud-typography-h4-lineheight);
    letter-spacing: var(--mud-typography-h4-letterspacing);
    text-align: center;
}

@media (min-width: 600px) {
    .background {
        padding: 24px 24px 0;
    }

    .title {
        font-size: var(--mud-typography-h2-size);
        font-family: var(--mud-typography-h2-family);
        font-weight: var(--mud-typography-h2-weight);
        line-height: var(--mud-typography-h2-lineheight);
        letter-spacing: var(--mud-typography-h2-letterspacing);
    }
}

@media (min-width: 960px) {
    .background {
        height: 60vh;
    }
}
