.grid {
    display: grid;
    grid-template-areas: 
        "image"
        "content"
        "characteristics";
}

.image {
    grid-area: image;
}

.image ::deep img {
    max-height: 70vh;
    margin: 0 auto;
    display: block;
}

.content {
    grid-area: content;
}

.content .title {
    font-size: var(--mud-typography-h4-size);
    font-family: var(--mud-typography-h4-family);
    font-weight: var(--mud-typography-h4-weight);
    line-height: var(--mud-typography-h4-lineheight);
    letter-spacing: var(--mud-typography-h4-letterspacing);
    text-transform: var(--mud-typography-h4-text-transform);
}

.characteristics {
    grid-area: characteristics;
    font-size: var(--mud-typography-subtitle1-size);
}

.characteristics ::deep .title {
    color: var(--mud-palette-grey-dark);
}

.characteristics ::deep p {
    font-weight: 500;
    font-size: inherit;
}

@media (min-width: 960px) {
    .grid {
        grid-template-columns: minmax(240px, 480px) 1fr;
        grid-template-areas: 
            "image content"
            "characteristics characteristics";
    }

    .content .title {
        font-size: var(--mud-typography-h2-size);
        font-family: var(--mud-typography-h2-family);
        font-weight: var(--mud-typography-h2-weight);
        line-height: var(--mud-typography-h2-lineheight);
        letter-spacing: var(--mud-typography-h2-letterspacing);
        text-transform: var(--mud-typography-h2-text-transform);
    }

    .image ::deep img {
        max-height: none;
        display: inline;
    }
}

@media (min-width: 1280px) {
    .grid {
        grid-template-columns: minmax(300px, 600px) 1fr;
        grid-template-areas: 
            "image content"
            "image characteristics"
            "image .";
    }
}
