.progress {
    display: grid;
    grid-gap: 12px;
    padding: 12px;
}

@media (min-width: 600px) {
    .progress {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        grid-gap: 24px;
        padding: 24px;
    }
}
