.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 4px dashed var(--mud-palette-background-grey);
    min-height: 160px;
}

::deep .icon {
    width: 54px;
    height: 54px;
}