.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    border: 4px dashed var(--mud-palette-background-grey);
    min-height: 160px;
}

::deep .icon {
    width: 54px;
    height: 54px;
}

@media (min-width: 600px) {
    .card {
        gap: 24px;
    }
}