::deep .skeleton-image-horizontal {
    width: 33.333333%;
    height: auto;
    border-top-left-radius: var(--mud-default-borderradius);
    border-bottom-left-radius: var(--mud-default-borderradius);
}

::deep .skeleton-image-vertical {
    width: 100%;
    height: 200px;
    border-top-left-radius: var(--mud-default-borderradius);
    border-top-right-radius: var(--mud-default-borderradius);
}
