<section class="mud-paper pa-3 pa-sm-6 @Class">
    <div class="grid">
        <div class="total">
            @TotalContent
        </div>
        <div class="progress">
            @ProgressContent
        </div>
        @if (!DisableActivity && ActivityContent is not null)
        {
            <div class="activity">
                @ActivityContent
            </div>
        }
    </div>
</section>

@code {

    [Parameter]
    public RenderFragment? TotalContent { get; set; }

    [Parameter]
    public RenderFragment? ProgressContent { get; set; }

    [Parameter]
    public RenderFragment? ActivityContent { get; set; }

    [Parameter]
    public bool DisableActivity { get; set; }

    [Parameter]
    public string? Class { get; set; }

}