.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-grow: 1;
}

@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}

.spinner-border {
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.43;
    display: inline-block;
    width: 5rem;
    height: 5rem;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

.one-line-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-transform-uppercase {
    text-transform: uppercase !important;
}

.text-transform-none {
    text-transform: none !important;
}

.align-grid-start {
    align-items: start;
}

.h-100 {
    height: 100%;
}

.min-h-inherit {
    min-height: inherit;
}

.min-vh-100 {
    min-height: 100vh;
}

.w-auto {
    width: auto;
}

.w-25 {
    width: 25%;
}

.w-33 {
    width: 33.333333%;
}

.w-50 {
    width: 50%;
}

.w-66 {
    width: 66.666667%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}

.w-max-180 {
    max-width: 180px;
}

.w-max-240 {
    max-width: 240px;
}

.w-max-300 {
    max-width: 300px;
}

.w-max-480 {
    max-width: 480px;
}

.w-max-600 {
    max-width: 600px;
}

.w-max-960 {
    max-width: 960px;
}

.w-max-1280 {
    max-width: 1280px;
}

.w-max-1600 {
    max-width: 1600px;
}

.grid-column-full {
    grid-column: 1 / -1;
}

.grid-column-span-2 {
    grid-column: span 2;
}

@media (min-width: 600px) {
    .w-sm-auto {
        width: auto;
    }

    .w-sm-25 {
        width: 25%;
    }

    .w-sm-33 {
        width: 33.333333%;
    }

    .w-sm-50 {
        width: 50%;
    }

    .w-sm-66 {
        width: 66.666667%;
    }

    .w-sm-75 {
        width: 75%;
    }

    .w-sm-100 {
        width: 100%;
    }

    .grid-column-sm-full {
        grid-column: 1 / -1;
    }

    .grid-column-span-sm-2 {
        grid-column: span 2;
    }
}

@media (min-width: 960px) {
    .w-md-auto {
        width: auto;
    }

    .w-md-25 {
        width: 25%;
    }

    .w-md-33 {
        width: 33.333333%;
    }

    .w-md-50 {
        width: 50%;
    }

    .w-sm-66 {
        width: 66.666667%;
    }

    .w-md-75 {
        width: 75%;
    }

    .w-md-100 {
        width: 100%;
    }

    .grid-column-md-full {
        grid-column: 1 / -1;
    }

    .grid-column-span-md-2 {
        grid-column: span 2;
    }
}

@media (min-width: 1280px) {
    .w-lg-auto {
        width: auto;
    }

    .w-lg-25 {
        width: 25%;
    }

    .w-lg-33 {
        width: 33.333333%;
    }

    .w-lg-50 {
        width: 50%;
    }

    .w-lg-66 {
        width: 66.666667%;
    }

    .w-lg-75 {
        width: 75%;
    }

    .w-lg-100 {
        width: 100%;
    }

    .grid-column-lg-full {
        grid-column: 1 / -1;
    }

    .grid-column-span-lg-2 {
        grid-column: span 2;
    }
}
