html, body, #app {
    min-height: 100vh;
}

@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}

.app-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.app-loader .spinner-border {
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
}

.spinner-border {
    font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: .01071em;
    display: inline-block;
    width: 5rem;
    height: 5rem;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

.mud-main-content {
    padding-top: 56px;
    min-height: 100vh;
}

.grid-full-row {
    grid-column: 1/-1;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.mw-xs {
    max-width: 600px;
}

.mw-sm {
    max-width: 960px;
}

.mw-md {
    max-width: 1280px;
}

.mw-lg {
    max-width: 1920px;
}

@media (min-width: 600px) {
    .mud-main-content {
        padding-top: 64px;
    }
}
