.item {
    border-bottom: 1px solid var(--mud-palette-divider);
    padding-bottom: 12px;
    margin-bottom: 24px;
}

.item:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}