<footer class="footer">
    <div></div>

    <section>
        @Button
    </section>

    <aside class="info">
        @Information
    </aside>
</footer>

@code {

    [Parameter]
    public RenderFragment? Button { get; set; }

    [Parameter]
    public RenderFragment? Information { get; set; }

}
