<div class="d-flex align-center gap-3 @Class">
    <MudProgressLinear Value="@((double)Progress)" Color="Color.Primary" Size="Size" Rounded/>

    <MudText Typo="Typo" Color="Color.Inherit">
        @Progress%
    </MudText>
</div>

@code {

    [Parameter, EditorRequired]
    public uint Progress { get; set; }

    [Parameter]
    public Size Size { get; set; } = Size.Medium;

    [Parameter]
    public Typo Typo { get; set; } = Typo.body1;

    [Parameter]
    public string? Class { get; set; }

}