.grid {
    display: grid;
    grid-gap: 12px;
    align-items: start;
}

@media (min-width: 600px) {
    .grid {
        grid-gap: 24px;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 960px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1280px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}
