.title {
    font-size: clamp(var(--mud-typography-h3-size), var(--mud-typography-h2-size), var(--mud-typography-h1-size));
    font-family: var(--mud-typography-h2-family);
    font-weight: var(--mud-typography-h2-weight);
    line-height: var(--mud-typography-h2-lineheight);
    letter-spacing: var(--mud-typography-h2-letterspacing);
    text-transform: var(--mud-typography-h2-text-transform);
}