.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header,
.sidebar {
    display: grid;
    gap: 12px;
    align-items: start;
}

@media (min-width: 600px) {
    .container {
        gap: 24px;
    }
}

@media (min-width: 768px) {
    .header,
    .sidebar {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1280px) {
    .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(2, auto) 1fr;
    }

    .header,
    .sidebar {
        gap: 24px;
        grid-column: span 3;
        grid-template-columns: 100%;
    }

    .content {
        grid-column: span 9;
        grid-row: 1/-1;
    }

}
