<section class="mud-paper pa-3 pa-sm-6 @Class">
    <MudText Class="mb-3" Typo="Typo.subtitle2">
        @Title
    </MudText>

    <a href="@Url" target="_blank">
        <img class="w-100 object-contain object-center" src="@Url" alt="@Alt" loading="lazy"/>
    </a>

    <MudText Typo="Typo.body2" Align="Align.Center">
        @Alt
    </MudText>
</section>

@code {

    [Parameter, EditorRequired]
    public required string Url { get; set; }

    [Parameter, EditorRequired]
    public required string Title { get; set; }

    [Parameter, EditorRequired]
    public required string Alt { get; set; }

    [Parameter]
    public string? Class { get; set; }

}