@using Education.Web.Client.Pages
@inherits LayoutComponentBase

<MudLayout Class="d-flex flex-column">
    <MudAppBar Elevation="0">
        <MudLink Href="@EduUrl.Root" Typo="Typo.h5" Color="Color.Default" Underline="Underline.None">
            Education <sup class="mud-typography mud-typography-caption mud-primary-text">beta</sup>
        </MudLink>
        <MudSpacer/>
        <AppbarThemeButton/>
        <AppbarNotifications/>
        <AppbarUserMenu/>
    </MudAppBar>

    <main class="mud-main-content d-flex flex-column flex-grow-1">
        @Body
    </main>

    <MudScrollToTop TopOffset="400" Style="z-index:2000;">
        <MudFab Icon="@Icons.Material.Outlined.KeyboardArrowUp" Color="Color.Primary"/>
    </MudScrollToTop>
</MudLayout>