.grid {
    display: grid;
    gap: 12px;
    grid-template-columns: 100%;
}

@media (min-width: 600px) {
    .grid {
        gap: 24px;
    }
}

@media (min-width: 960px) {
    .grid {
        grid-template-columns: repeat(6, 1fr);
    }

    .stats {
        grid-column: span 2;
    }

    ::deep .score {
        grid-column: span 4;
    }

    ::deep .questions {
        grid-column: span 3;
    }

    .ratio {
        grid-column: span 3;
        align-self: start;
    }
}

@media (min-width: 1280px) {
    .stats {
        grid-column: span 3;
    }

    ::deep .score {
        grid-column: span 3;
    }

    ::deep .questions {
        grid-column: span 4;
    }

    .ratio {
        grid-column: span 2;
    }
}
