.markdown ::deep .float-left {
    float: left;
}

.markdown ::deep .float-right {
    float: right;
}

.markdown ::deep .float-clear {
    clear: both;
}

.markdown ::deep figure {
    border: thin var(--mud-palette-background) solid;
    display: flex;
    flex-flow: column;
    padding: 4px;
    margin: auto;
}

.markdown ::deep figcaption {
    background-color: var(--mud-palette-black);
    color: var(--mud-palette-white);
    padding: 4px;
    text-align: center;
}

.markdown ::deep img {
    display: block;
    max-width: 100%;
    max-height: 50vh;
}

.markdown ::deep ol {
    margin-left: 2rem;
    list-style: decimal;
    margin-bottom: 0.5rem;
}

.markdown ::deep ul {
    margin-left: 2rem;
    list-style: disc;
    margin-bottom: 0.5rem;
}

.markdown ::deep li {
    font-size: inherit;
    margin-bottom: 4px;
}

.markdown ::deep hr {
    border: none;
    height: 1px;
    flex-shrink: 0;
    margin: 12px 16px;
    background-color: var(--mud-palette-divider);
}

.markdown ::deep a {
    color: var(--mud-palette-primary);
}

.markdown ::deep a:hover {
    text-decoration: underline;
}

.markdown ::deep p {
    font-family: var(--mud-typography-body1-family);
    font-size: inherit;
    font-weight: var(--mud-typography-body1-weight);
    line-height: var(--mud-typography-body1-lineheight);
    letter-spacing: var(--mud-typography-body1-letterspacing);
    margin-bottom: 0.5rem;
    text-indent: 2rem;
}
