<div class="@_class" style="@Style">
    @Content
</div>

@code {
    private string? _class;

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public string? Style { get; set; }

    [Parameter]
    public bool DisableParagraphIndent { get; set; }

    [Parameter, EditorRequired]
    public MarkupString Content { get; set; }

    protected override void OnParametersSet() =>
        _class = CssBuilder.Default("markdown")
            .AddClass("text-indent", !DisableParagraphIndent)
            .AddClass(Class, Class is not null)
            .Build();

}