.markdown ::deep .float-left {
    float: left;
}

.markdown ::deep .float-right {
    float: right;
}

.markdown ::deep .float-clear {
    clear: both;
}

.markdown ::deep h1 {
    font-family: var(--mud-typography-h1-family);
    font-size: var(--mud-typography-h1-size);
    font-weight: var(--mud-typography-h1-weight);
    line-height: var(--mud-typography-h1-lineheight);
    letter-spacing: var(--mud-typography-h1-letterspacing);
}

.markdown ::deep h2 {
    font-family: var(--mud-typography-h2-family);
    font-size: var(--mud-typography-h2-size);
    font-weight: var(--mud-typography-h2-weight);
    line-height: var(--mud-typography-h2-lineheight);
    letter-spacing: var(--mud-typography-h2-letterspacing);
}

.markdown ::deep h3 {
    font-family: var(--mud-typography-h3-family);
    font-size: var(--mud-typography-h3-size);
    font-weight: var(--mud-typography-h3-weight);
    line-height: var(--mud-typography-h3-lineheight);
    letter-spacing: var(--mud-typography-h3-letterspacing);
}

.markdown ::deep h4 {
    font-family: var(--mud-typography-h4-family);
    font-size: var(--mud-typography-h4-size);
    font-weight: var(--mud-typography-h4-weight);
    line-height: var(--mud-typography-h4-lineheight);
    letter-spacing: var(--mud-typography-h4-letterspacing);
}

.markdown ::deep h5 {
    font-family: var(--mud-typography-h5-family);
    font-size: var(--mud-typography-h5-size);
    font-weight: var(--mud-typography-h5-weight);
    line-height: var(--mud-typography-h5-lineheight);
    letter-spacing: var(--mud-typography-h5-letterspacing);
}

.markdown ::deep h6 {
    font-family: var(--mud-typography-h6-family);
    font-size: var(--mud-typography-h6-size);
    font-weight: var(--mud-typography-h6-weight);
    line-height: var(--mud-typography-h6-lineheight);
    letter-spacing: var(--mud-typography-h6-letterspacing);
}

.markdown ::deep figure {
    border: thin var(--mud-palette-background) solid;
    display: flex;
    flex-flow: column;
    padding: 4px;
    margin: auto;
}

.markdown ::deep figcaption {
    background-color: var(--mud-palette-black);
    color: var(--mud-palette-white);
    padding: 4px;
    text-align: center;
}

.markdown ::deep img {
    display: block;
    max-width: 100%;
    max-height: 50vh;
}

.markdown ::deep ol {
    margin-left: 2rem;
    list-style: decimal;
    margin-bottom: 0.5rem;
}

.markdown ::deep ul {
    margin-left: 2rem;
    list-style: disc;
    margin-bottom: 0.5rem;
}

.markdown ::deep li {
    font-size: inherit;
    margin-bottom: 4px;
}

.markdown ::deep hr {
    border: none;
    height: 1px;
    flex-shrink: 0;
    margin: 12px 16px;
    background-color: var(--mud-palette-divider);
}

.markdown ::deep a {
    color: var(--mud-palette-primary);
}

.markdown ::deep a:hover {
    text-decoration: underline;
}

.markdown ::deep p {
    font-family: var(--mud-typography-body1-family);
    font-size: inherit;
    font-weight: var(--mud-typography-body1-weight);
    line-height: var(--mud-typography-body1-lineheight);
    letter-spacing: var(--mud-typography-body1-letterspacing);
    margin-bottom: 0.5rem;
}

.text-indent ::deep p {
    text-indent: 2rem;
}

::deep pre {
    font-size: inherit;
    overflow: auto;
    color: var(--mud-palette-text-primary);
    background-color: var(--mud-palette-dark-hover);
    padding: 12px;
}

@media (min-width: 600px) {
    ::deep pre {
        padding: 24px;
    }
}