.container {
    max-height: 99vh;
    overflow-y: auto
}

.pricing-grid {
    display: grid;
    gap: 24px;
    margin: 24px;
}

@media (min-width: 600px) {
    .pricing-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-items: center;
    }
}