.section {
    display: flex;
    justify-content: center;
    padding-left: 12px;
    padding-right: 12px;
}

.container {
    width: 100%;
}

@media (min-width: 600px) {
    .section {
        padding-left: 24px;
        padding-right: 24px;
    }

    .w600 {
        max-width: 600px;
    }
}

@media (min-width: 960px) {
    .w960 {
        max-width: 960px;
    }
}

@media (min-width: 1280px) {
    .w1280 {
        max-width: 1280px;
    }
}

@media (min-width: 1600px) {
    .w1600 {
        max-width: 1600px;
    }
}

@media (min-width: 1920px) {
    .w1920 {
        max-width: 1920px;
    }
}
