.background {
    padding: 12px 12px 0;
}

@media (min-width: 600px) {
    .background {
        padding: 24px 24px 0;
    }
}

@media (min-width: 960px) {
    .background {
        min-height: 60vh;
    }
}
