.card {
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 12px;
    padding: 12px;
}

.details {
    grid-column: 1/-1;
    justify-self: end;
}

@media (min-width: 600px) {
    .card {
        grid-template-columns: 80px 1fr auto;
        align-items: center;
    }

    .details {
        grid-column: unset;
        justify-self: unset;
    }
}
