.breadcrumbs {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.05px;
}

.breadcrumbs-list {
    margin: 0;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
}

.breadcrumbs-separator {
    display: flex;
    margin-left: 8px;
    user-select: none;
    margin-right: 8px;
}