<footer>
    <MudDivider/>
    <EduContainer MaxWidth="EduWidth.W1440" Class="py-0">
        <div class="d-flex justify-space-between align-center my-3 my-sm-6">
            <img src="https://res.cloudinary.com/elwark/image/upload/v1613019539/Elwark/primary/60x60_eonbge.png"
                 alt="elwark logo"
                 style="width: 40px; height: 40px"/>

            <MudText Typo="Typo.subtitle1">
                Elwark &copy; @DateTime.Now.Year
            </MudText>
        </div>
    </EduContainer>
</footer>