@using MudBlazor.Utilities

<div class="@_class">
    <div class="mr-sm-6">
        <MudText Typo="Typo.h4" Class="mb-1">
            @Title
        </MudText>
        <Breadcrumbs Items="@Breadcrumbs" Class="pa-0"/>
    </div>

    @ChildContent
</div>

@code {
    private string? _class;

    [Parameter, EditorRequired]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public List<BreadcrumbItem> Breadcrumbs { get; set; } = new();

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    protected override void OnParametersSet() =>
        _class = CssBuilder
            .Default("d-flex flex-wrap justify-space-between align-center w-100")
            .AddClass(Class, Class is not null)
            .Build();

}
