@using Education.Web.Services.Model
<EduContainer MaxWidth="@MaxWidth" Class="@Class">
    <h2 class="title">
        <span>@L["Rewards"]</span>
    </h2>
    <MudStack Row Justify="Justify.Center">
        @foreach (var reward in Rewards)
        {
            <MudPaper Elevation="0" Class="d-flex align-center justify-center" Style="width: 120px; height: 120px">
                <InternalMoneyText Money="@reward" IconSize="Size.Large" Typo="Typo.h4"/>
            </MudPaper>
        }
    </MudStack>
</EduContainer>

@code {

    [Inject]
    public IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public EduWidth MaxWidth { get; set; } = EduWidth.None;

    [Parameter, EditorRequired]
    public IInternalMoney[] Rewards { get; set; } = Array.Empty<IInternalMoney>();

}
