.content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.articles {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media (min-width: 600px) {
    .content {
        gap: 24px;
    }

    .articles {
        gap: 24px;
    }
}

@media (min-width: 960px) {
    .content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: start;
    }
}
