.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.pricing {
    padding: 12px;
}

.pricing-icon {
    margin-bottom: 4px;
}

.price {
    display: flex;
    margin-bottom: 12px;
}

.price-symbol {
    margin: 0;
    font-weight: 400;
    line-height: 1.6;
    color: var(--mud-palette-text-primary);
    font-size: 1.0938rem;
}

.price-value {
    margin: 0;
    font-weight: 500;
    line-height: 1.235;
    color: var(--mud-palette-text-primary);
    font-size: 1.8219rem;
}

.price-period {
    margin-left: 8px;
    font-weight: 500;
    font-size: var(--mud-typography-button-size);
    line-height: 1.57;
    align-self: flex-end;
}

.pricing-title {
    margin-bottom: 12px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--mud-palette-text-primary);
    font-size: 1.0938rem;
}

.pricing-description {
    font-weight: 400;
    font-size: var(--mud-typography-button-size);
    line-height: 1.43;
}

.options {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 12px;
}

.option-item {
    align-items: center;
    display: flex;
    margin-bottom: 12px;
}

@media (min-width: 600px) {
    .card {
        max-width: 460px;
    }

    .pricing {
        padding: 24px;
    }

    .options {
        padding: 24px;
    }
}
