.header {
    display: flex;
    border-bottom: 1px solid var(--mud-palette-background-grey);
    margin-bottom: 12px;
}

.header h2 {
    font-size: var(--mud-typography-h6-size);
    font-family: var(--mud-typography-h5-family);
    font-weight: var(--mud-typography-h6-weight);
    line-height: var(--mud-typography-h5-lineheight);
    letter-spacing: var(--mud-typography-h5-letterspacing);
    padding: 0 16px 3px 16px;
    border-bottom: 3px solid var(--mud-palette-primary);
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(250px, 280px);
    grid-gap: 12px;
}

@media (min-width: 600px) {
    .header h2 {
        font-size: var(--mud-typography-h5-size);
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 960px) {
    .grid {
        grid-template-columns: repeat(12, 1fr);
    }

    .grid ::deep > :first-child,
    .grid ::deep > :nth-child(2) {
        grid-column: span 6;
    }

    .grid ::deep > * {
        grid-column: span 4;
    }
}

@media (min-width: 1280px) {
    .grid ::deep > :first-child {
        grid-column: span 6;
        grid-row: span 2;
    }

    .grid ::deep > :nth-child(2),
    .grid ::deep > :nth-child(3),
    .grid ::deep > :nth-child(4),
    .grid ::deep > :nth-child(5) {
        grid-column: span 3;
    }

    .grid ::deep > * {
        grid-column: span 4;
    }
}
