<div class="card">
    <div class="body">
        <div class="image">
            <div class="mask"></div>
            <a href="http://startup-news.topper.themerex.net/improving-mental-health-while-working-on-startups/" aria-hidden="true" class="icons"></a>
        </div>
        <div class="content">
            <div class="meta">
                <span class="post_meta_item post_categories">
                    <a href="http://startup-news.topper.themerex.net/category/ideas/" rel="category tag">Ideas</a>
                </span>
            </div><!-- .post_meta -->
            <MudLink Href="#" Typo="Typo.h6">
                Title
            </MudLink>
            <div class="description">Young developers get activated by coming up with revolutionary ideas that bring positive changes to digital products’ development process!</div>
            <div class="meta">
                <span class="post_meta_item post_date">March 16, 2019</span>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter, EditorRequired]
    public string Image { get; set; } = string.Empty;

}
