.title {
    border-bottom: 1px solid var(--mud-palette-background-grey);
}

.title h2 {
    display: inline-block;
    border-bottom: 2px solid var(--mud-palette-primary);
    padding-bottom: 4px;
    font-size: var(--mud-typography-h5-size);
    font-family: var(--mud-typography-h5-family);
    font-weight: var(--mud-typography-h5-weight);
    line-height: var(--mud-typography-h5-lineheight);
    letter-spacing: var(--mud-typography-h5-letterspacing);
    padding-right: 12px;
}

@media (min-width: 600px) {
    .title h2 {
        font-size: var(--mud-typography-h4-size);
        padding-right: 24px;
    }
}