<div class="@Class">
    <MudChart ChartType="ChartType.Donut" Width="250px" Height="250px" InputData="@Data" ChartOptions="@Options"/>
    <ChartList Items="@Items"/>
</div>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public uint Points { get; set; }

    [Parameter]
    public uint Bonus { get; set; }

    [Parameter]
    public uint Score { get; set; }
    
    private ChartOptions Options => new()
    {
        DisableLegend = true,
        ChartPalette = Score > 0
            ? new[]
            {
                Colors.Blue.Darken2,
                Colors.Green.Darken2
            }
            : new[]
            {
                Colors.Grey.Lighten1,
                Colors.Grey.Lighten1
            }
    };

    private double[] Data => new double[]
    {
        Points,
        Bonus
    };

    private ChartList.Item[] Items => new[]
    {
        new ChartList.Item(L["EventGuesser:Points"], Points, Colors.Blue.Darken2),
        new ChartList.Item(L["EventGuesser:Bonus"], Bonus, Colors.Green.Darken2),
        new ChartList.Item(L["EventGuesser:Score"], Score, null)
    };

}
