::deep .radio-group .mud-radio-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

::deep .radio {
    display: flex;
    margin-right: 0;
    margin-inline-end: 0;
    background-color: var(--mud-palette-surface) !important;
    border-radius: var(--mud-default-borderradius);
    transition: box-shadow 300ms cubic-bezier(.4, 0, .2, 1) 0ms;
    margin-left: 1px;
}

::deep .radio .mud-radio-content {
    padding: 12px;
    overflow: hidden;
    width: 100%;
}

.image {
    width: 32px;
    height: 32px;
}

@media (min-width: 600px) {
    ::deep .radio-group .mud-radio-group {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        gap: 24px;
    }
}

@media (min-width: 960px) {
    ::deep .radio-group .mud-radio-group {
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
}
