.background {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-top-left-radius: var(--mud-default-borderradius);
    border-top-right-radius: var(--mud-default-borderradius);
}

.cover {
    background-color: var(--mud-palette-overlay-dark);
    height: 100%;
    width: 100%;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    color: var(--mud-palette-white);
}

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid var(--mud-palette-divider);
    margin-bottom: 4px;
}
