.grid {
    display: grid;
    grid-template-columns: minmax(100px, 1fr);
    gap: 12px;
}

.progress {
    min-width: 100%;
}

.image {
    width: 100%;
    max-width: 960px;
    height: auto;
    display: block;
}

@media (min-width: 600px) {
    .grid {
        gap: 24px;
    }

    .progress {
        min-width: 300px;
    }
}

@media (min-width: 1280px) {
    .grid {
        grid-template-columns: 3fr 1fr;
    }
}
