.image-background {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cover {
    background-color: var(--mud-palette-overlay-dark);
}

.header {
    color: var(--mud-palette-white);
    height: 70vh;
}

@media (min-width: 600px) {
    .header {
        height: 320px;
    }
}