.articles {
    margin-bottom: 12px;
}

@media (min-width: 600px) {
    .articles {
        margin-bottom: 24px;
    }
}

@media (min-width: 960px) {
    .content {
        display: grid;
        gap: 24px;
        grid-template-columns: 2fr 1fr;
    }

    .articles {
        margin-bottom: 0;
    }
}