* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

a {
    text-decoration: none;
}

#__next {
    height: 100%;
}

:not(pre) > code {
    font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace;
    background-color: #eeeeee;
    padding: 2px 4px;
    direction: ltr;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    font-size: 14px;
}

#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: rgb(244, 67, 54);
    position: fixed;
    z-index: 1301;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px rgb(244, 67, 54), 0 0 5px rgb(244, 67, 54);
    opacity: 1;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}
