.grid {
    display: grid;
    gap: 12px;
    height: 100%;
}

@media (min-width: 600px) {
    .grid {
        gap: 24px;
    }
}

@media (min-width: 960px) {
    .grid {
        grid-template-columns: repeat(12, 1fr);
    }

    .grid .header {
        grid-column: span 7;
        order: 1;
    }

    .grid .sidebar {
        grid-column: span 5;
        grid-row: span 2;
        order: 2;
    }

    .grid .content {
        grid-column: span 7;
        order: 3;
    }
}

@media (min-width: 1280px) {
    .grid .header {
        grid-column: span 8;
    }

    .grid .sidebar {
        grid-column: span 4;
    }

    .grid .content {
        grid-column: span 8;
    }
}

@media (min-width: 1600px) {
    .grid .header {
        grid-column: span 9;
    }

    .grid .sidebar {
        grid-column: span 3;
    }

    .grid .content {
        grid-column: span 9;
    }
}
