::deep .date {
    font-size: var(--mud-typography-h6-size);
    font-family: var(--mud-typography-h6-family);
    font-weight: var(--mud-typography-h6-weight);
    line-height: var(--mud-typography-h6-lineheight);
    letter-spacing: var(--mud-typography-h6-letterspacing);
    text-transform: var(--mud-typography-h6-text-transform);
}

@media (min-width: 600px) {
    ::deep .date {
        font-size: var(--mud-typography-h5-size);
        font-family: var(--mud-typography-h5-family);
        font-weight: var(--mud-typography-h5-weight);
        line-height: var(--mud-typography-h5-lineheight);
        letter-spacing: var(--mud-typography-h5-letterspacing);
        text-transform: var(--mud-typography-h5-text-transform);
    }
}

@media (min-width: 960px) {
    ::deep .date {
        font-size: var(--mud-typography-h4-size);
        font-family: var(--mud-typography-h4-family);
        font-weight: var(--mud-typography-h4-weight);
        line-height: var(--mud-typography-h4-lineheight);
        letter-spacing: var(--mud-typography-h4-letterspacing);
        text-transform: var(--mud-typography-h4-text-transform);
    }
}
