<div class="d-flex align-center gap-1">
    <MudText Typo="Typo.body1">@Popularity</MudText>
    <MudIcon Icon="@EduIcons.Popularity" Size="Size.Small" Color="Color.Inherit"/>
</div>

@code {

    [Parameter, EditorRequired]
    public double Popularity { get; set; }

}
