<div class="d-flex align-center">
    <MudText Typo="Typo.body1" Color="Color.Inherit">
        @Time.Humanize(L)
    </MudText>
    <MudIcon Class="ml-1" Icon="@EduIcons.TimeToRead" Size="Size.Small" Color="Color.Inherit"/>
</div>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Parameter, EditorRequired]
    public required TimeSpan Time { get; set; }

}
