.grid {
    display: grid;
    grid-template-columns: 60px 3fr 1fr;
    align-items: center;
    padding: 12px;
}

.rank {
    text-align: center;
}

.name {
    display: flex;
    align-items: center;
}

.experience {
    display: none;
}

@media (min-width: 600px) {
    .grid {
        grid-template-columns: 80px auto 120px;
    }

    .rank {
        text-align: left;
    }

    .experience {
        display: flex;
        align-items: center;
    }
}
