.card {
    display: flex;
    align-items: center;
    max-width: 90%;
    color: var(--mud-palette-white);
    background-image: linear-gradient(90deg, var(--mud-palette-primary), var(--mud-palette-primary-lighten));
    border-radius: var(--mud-default-borderradius);
    transition: all .3s ease-in-out;
}

::deep .username {
    font-weight: bold;
}

.even {
    margin-left: 10%;
}

.odd {
    margin-right: 10%;
}

.rank ::deep .icon {
    background-color: unset;
}

.rank-1 ::deep .icon {
    color: rgb(253, 230, 54);
    background-image: linear-gradient(0deg, rgba(247, 244, 139, .3), rgba(253, 230, 54, .3));
}

.rank-2 ::deep .icon {
    color: rgb(70, 222, 162);
    background-image: linear-gradient(0deg, rgba(123, 248, 197, .3), rgba(70, 222, 162, .3));
}

.rank-3 ::deep .icon {
    color: rgb(255, 143, 43);
    background-image: linear-gradient(0deg, rgba(244, 196, 107, 0.38), rgba(255, 143, 43, .38));
}

::deep .rank-title {
    font-weight: bold;
}

.rank-1 ::deep .rank-title {
    color: rgb(253, 230, 54);
}

.rank-2 ::deep .rank-title {
    color: rgb(70, 222, 162);
}

.rank-3 ::deep .rank-title {
    color: rgb(255, 143, 43);
}