.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px 0;
}

.header ::deep .icon {
    font-size: var(--mud-typography-h3-size);
    margin-right: 4px;
}
