.background {
    padding: 12px;
    transition: background 1s ease-out;
}

.title {
    font-size: var(--mud-typography-h4-size);
    font-family: var(--mud-typography-h1-family);
    font-weight: var(--mud-typography-h1-weight);
    line-height: var(--mud-typography-h1-lineheight);
    letter-spacing: var(--mud-typography-h1-letterspacing);
    text-align: center;
}

@media (min-width: 600px) {
    .background {
        padding: 24px;
        background-size: cover !important;
    }

    .title {
        font-size: var(--mud-typography-h2-size);
        font-family: var(--mud-typography-h1-family);
        font-weight: var(--mud-typography-h1-weight);
        line-height: var(--mud-typography-h1-lineheight);
        letter-spacing: var(--mud-typography-h1-letterspacing);
    }
}

@media (min-width: 960px) {
    .background {
        height: 80vh;
    }

    .title {
        font-size: var(--mud-typography-h1-size);
        font-family: var(--mud-typography-h1-family);
        font-weight: var(--mud-typography-h1-weight);
        line-height: var(--mud-typography-h1-lineheight);
        letter-spacing: var(--mud-typography-h1-letterspacing);
    }
}
