.header-wrapper {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header {
    padding-left: 12px;
    padding-right: 12px;
    max-width: 1280px;
    margin: 0 auto;
}

.header-text-wrapper {
    margin: 0;
    flex-basis: 100%;
    flex-grow: 0;
    max-width: 100%;
}

.header-image-wrapper {
    display: none;
}

.header-image {
    max-width: 419px;
    width: 100%;
}

.header-image img {
    width: 100%;
}

.product-wrapper {
    padding: 12px;
    background-color: var(--mud-palette-surface);
}

@media (min-width: 600px) {
    .header-wrapper {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .header {
        padding-left: 24px;
        padding-right: 24px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .product-wrapper {
        padding: 24px;
    }
}

@media (min-width: 960px) {
    .header-text-wrapper {
        max-width: 58.3333%;
    }

    .header-image-wrapper {
        flex-grow: 0;
        max-width: 41.6667%;
        display: block;
    }
}
