.header {
    display: grid;
    gap: 12px;
    margin-bottom: 12px;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-areas:
        "questions questions"
        "score bonus"
        "title title";
}

.header-score {
    grid-area: score;
}

.header-bonus {
    grid-area: bonus;
    justify-self: end;
}

.header-questions {
    grid-area: questions;
    justify-self: center;
}

.header-title {
    grid-area: title;
}

@media (min-width: 600px) {
    .header {
        gap: 24px;
        margin-bottom: 24px;
        grid-template-columns: repeat(3, minmax(100px, 1fr));
        grid-template-areas:
            "score questions bonus"
            "title title title";
    }
}
