::deep .radio-group .mud-radio-group {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

::deep .radio {
    display: flex;
    margin-right: 0;
    margin-inline-end: 0;
}

::deep .radio .mud-radio-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--mud-palette-surface);
    border-radius: var(--mud-default-borderradius);
    transition: box-shadow 300ms cubic-bezier(.4, 0, .2, 1) 0ms;
    overflow: hidden;
    width: 100%;
}

::deep .radio-image {
    width: 100%;
    aspect-ratio: 16/9;
}

@media (min-width: 600px) {
    ::deep .radio-group .mud-radio-group {
        gap: 24px;
    }
}

