::deep .radio-group {
    width: 100%
}

::deep .radio-group > div > div {
    display: grid;
    grid-row-gap: 12px;
    grid-template-columns: 1fr;
}

::deep .radio {
    display: flex;
}

::deep .radio .mud-radio-content {
    width: 100%;
}

@media (min-width: 600px) {
    ::deep .radio-group > div > div {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
}
