@inherits LayoutComponentBase

<CascadingTheme>
    <MudLayout Class="d-flex flex-column min-vh-100">
        <MainAppBar/>

        <main class="flex-grow-1 mud-main-content">
            <section class="container">
                <CustomerMenu/>

                <div class="content">
                    @Body
                </div>
            </section>
        </main>

        <MainFooter/>

        <MudScrollToTop>
            <MudFab StartIcon="@Icons.Material.Outlined.KeyboardArrowUp" Color="Color.Primary" Size="Size.Small"/>
        </MudScrollToTop>
    </MudLayout>
</CascadingTheme>
