.header {
    display: flex;
    width: 100%;
    position: absolute;
    z-index: 1100;
    left: auto;
    right: 0;
    top: 0;
    color: rgb(255, 255, 255);
}

.background {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 14rem;
    background: linear-gradient(310deg, rgba(85, 105, 255, 0.3), rgba(255, 255, 255, 0.1)) 50% center / cover, url(/images/customer/header_background.jpg);
    background-size: cover;
}

.panel {
    overflow: hidden;
    position: relative;
}

.profile-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    line-height: 1;
    overflow: hidden;
    border-radius: var(--mud-default-borderradius);
    width: 4.625rem;
    height: 4.625rem;
}