@inherits LayoutComponentBase

<CascadingTheme>
    <MudLayout Class="d-flex flex-column min-vh-100">
        <MainAppBar/>

        <main class="flex-grow-1 mud-main-content">
            <section class="container">
                <MudText Class="title" Typo="Typo.h4">
                    @L["Account_Title"]
                </MudText>

                <CustomerMenu/>

                <div class="content">
                    @Body
                </div>
            </section>
        </main>

        <MainFooter/>

        <MudScrollToTop>
            <MudFab Icon="@Icons.Material.Outlined.KeyboardArrowUp" Color="Color.Primary" Size="Size.Small"/>
        </MudScrollToTop>
    </MudLayout>
</CascadingTheme>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

}