.header {
    padding: 12px 12px 8px;
}

.menu {
    padding: 12px;
}

@media (min-width: 600px) {
    .header {
        padding: 24px 24px 12px;
    }

    .menu {
        padding: 12px 24px;
    }
}