@inherits LayoutComponentBase

<CascadingTheme>
    <MudLayout Class="d-flex flex-column min-vh-100">
        <CustomerHeader/>

        <main class="d-flex flex-column flex-grow-1">
            @Body
        </main>

        <MainFooter/>
        
        <MudScrollToTop>
            <MudFab Icon="@Icons.Material.Outlined.KeyboardArrowUp" Color="Color.Primary"/>
        </MudScrollToTop>
    </MudLayout>
</CascadingTheme>