.grid {
    display: grid;
    grid-gap: 12px;
    align-items: start;
}

@media (min-width: 600px) {
    .grid {
        grid-gap: 24px;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
}

@media (min-width: 960px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    }
}

@media (min-width: 1280px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}
