@using Education.Web.Services.Model.User

<section Class="@($"mud-paper d-flex flex-column {Class}")">
    Daily tasks @Tasks.Status
</section>

@code {

    [Parameter, EditorRequired]
    public DailyTasksModel Tasks { get; set; } = default!;
    
    [Parameter]
    public string? Class { get; set; }
}