.grid {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

.card {
    background-color: var(--mud-palette-background);
}

::deep .title {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80px;
    white-space: nowrap;
}

@media (min-width: 600px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    }
}

@media (min-width: 960px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }
}

@media (min-width: 1280px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
}
