.header {
    background-image: url("/images/history/bg-640x360.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
}

::deep .avatar {
    width: 100px;
    height: 100px;
    margin: -60px auto 0;
    object-fit: cover;
    object-position: center;
}
