.header {
    height: 170px;
}

.background {
    background-image: url("/images/history/bg-640x360.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: var(--mud-default-borderradius);
    border-top-right-radius: var(--mud-default-borderradius);
    height: 120px;
}

.avatar {
    display: flex;
    justify-content: center;
}

.profile-info
{
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}
