<header class="d-flex flex-wrap justify-space-between gap-3 gap-sm-6 w-100 @Class">
    <section>
        <MudText Typo="Typo.h5">
            @Title
        </MudText>
        @if (Breadcrumbs is not null)
        {
            <Breadcrumbs Items="@Breadcrumbs" Class="pa-0"/>
        }
    </section>
    
    @ChildContent
</header>

@code {

    [Parameter, EditorRequired]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public List<BreadcrumbItem>? Breadcrumbs { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}