.grid {
    display: grid;
    grid-template-columns: minmax(100px, 1fr);
    gap: 12px;
}

@media (min-width: 600px) {
    .grid {
        gap: 24px;
        height: 100%;
    }
}

@media (min-width: 760px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .activity {
        grid-column: 1/-1;
        align-self: end;
    }
}
