@using MudBlazor.Utilities

<MudPaper Class="@_class" Elevation="0">
    <div class="grid">
        @if (TotalContent is not null)
        {
            <div class="total">
                @TotalContent
            </div>
        }
        @if (ProgressContent is not null)
        {
            <div class="progress">
                @ProgressContent
            </div>
        }
        @if (ActivityContent is not null)
        {
            <div class="activity">
                @ActivityContent
            </div>
        }
    </div>
</MudPaper>

@code {
    private string? _class;

    [Parameter]
    public RenderFragment? TotalContent { get; set; }

    [Parameter]
    public RenderFragment? ProgressContent { get; set; }

    [Parameter]
    public RenderFragment? ActivityContent { get; set; }

    [Parameter]
    public string? Class { get; set; }
    
    protected override void OnParametersSet() =>
        _class = CssBuilder.Default("pa-3 pa-sm-6")
            .AddClass(Class, Class is not null)
            .Build();

}
