@page "/account"
@using Education.Web.Pages.Account.Components
@layout MainLayout
@attribute [Authorize]

<EduPage ShowFooter>
    <EduContainer>
        <PageTitle>@L["Account"]</PageTitle>
        <div class="wrapper">
            <div class="account">
                <AccountCard/>
            </div>
            <div class="subjects">
            </div>
        </div>
    </EduContainer>
</EduPage>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

}
