.grid {
    display: grid;
    grid-template-columns: 56px auto auto;
    align-items: center;
    gap: 12px;
}

.completion {
    display: none;
    justify-self: center;
}

.actions {
    justify-self: end;
}

@media (min-width: 600px) {
    .grid {
        grid-template-columns: 56px 1fr auto auto;
        gap: 24px;
    }

    .completion {
        display: block;
    }
}
