.grid {
    display: grid;
    grid-template-columns: 80px 1fr auto;
    align-items: center;
    gap: 12px;
}

.completion {
    display: none;
}

.image {
    width: 80px;
    height: 80px;
}

::deep .avatar {
    width: 100%;
    height: 100%;
}

@media (min-width: 600px) {
    .grid {
        grid-template-columns: 80px 1fr auto auto;
        gap: 24px;
    }

    .completion {
        display: block;
    }
}
