.grid {
    display: grid;
    grid-template-columns: 80px 1fr auto;
    grid-auto-rows: 80px;
    gap: 12px;
}

.completion {
    display: none;
    align-self: center;
}

.actions {
    align-self: center;
}

::deep .avatar {
    width: 80px;
    height: 80px;
}

@media (min-width: 600px) {
    .grid {
        grid-template-columns: 80px 1fr auto auto;
        gap: 24px;
    }

    .completion {
        display: block;
    }
}
