.grid {
    display: grid;
    grid-gap: 12px;
    grid-template-areas: 
                "subject"
                "level"
                "points"
                "daily-reward"
                "activity"
                "easy-test"
                "hard-test"
                "mixed-test"
                "event-guesser";
}

.subject {
    grid-area: subject;
}

.points {
    grid-area: points;
}

.level {
    grid-area: level;
}

.daily-reward {
    grid-area: daily-reward;
}

.easy-test {
    grid-area: easy-test;
}

.hard-test {
    grid-area: hard-test;
}

.mixed-test {
    grid-area: mixed-test;
}

.event-guesser {
    grid-area: event-guesser;
}

.activity {
    grid-area: activity;
}

@media (min-width: 720px) {
    .grid {
        grid-gap: 24px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "subject points"
        "level points"
        "daily-reward points"
        "activity activity"
        "easy-test hard-test"
        "mixed-test event-guesser";
    }
}

@media (min-width: 1280px) {
    .grid {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        grid-template-areas:
        "subject activity activity"
        "points points level"
        "easy-test hard-test daily-reward"
        "mixed-test event-guesser . ";
    }
}

@media (min-width: 1600px) {
    .grid {
        grid-template-columns: repeat(4, minmax(200px, 1fr));
        grid-template-areas:
        "subject activity activity activity"
        "points points points level"
        "easy-test hard-test mixed-test daily-reward"
        "event-guesser . . .";
    }
}

@media (min-width: 1920px) {
    .grid {
        grid-template-columns: repeat(5, minmax(200px, 1fr));
        grid-template-areas:
        "subject activity activity activity activity"
        "points points points points level"
        "easy-test hard-test mixed-test event-guesser daily-reward";
    }
}
