.header {
    display: flex;
    align-items: center;
    transition: transform .4s linear;
    margin: 12px 0 12px 0;
}

.header ::deep .icon {
    font-size: var(--mud-typography-h3-size);
    margin-right: 4px;
}

.transactions > li {
    transition: all 0.4s ease-out;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--mud-palette-divider);
    margin-bottom: 8px;
}

.transactions > li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

li ::deep .mud-typography {
    line-height: initial;
}
