@using MudBlazor.Utilities

<section class="@_class">
    <div class="rank">
        @Rank
    </div>
    <div class="name">
        @Name
    </div>
    @if (Level is not null)
    {
        <div class="level">
            @Level
        </div>
        <div class="experience d-none d-sm-flex">
            @Experience
        </div>
    }
    else
    {
        <div class="experience">
            @Experience
        </div>
    }
</section>

@code {
    private string? _class;

    [Parameter]
    public RenderFragment? Rank { get; set; }

    [Parameter]
    public RenderFragment? Name { get; set; }

    [Parameter]
    public RenderFragment? Level { get; set; }

    [Parameter]
    public RenderFragment? Experience { get; set; }

    [Parameter]
    public BackgroundColor Background { get; set; } = BackgroundColor.None;

    [Parameter]
    public bool DisableHover { get; set; }

    [Parameter]
    public string? Class { get; set; }

    protected override void OnParametersSet()
    {
        var background = Background switch
        {
            BackgroundColor.None => null,
            BackgroundColor.Paper => "mud-paper",
            BackgroundColor.Highlight => "highlight-paper",
            _ => null
            };

        _class = CssBuilder.Default("d-flex align-center gap-3 pa-3")
            .AddClass(Class, !string.IsNullOrEmpty(Class))
            .AddClass("hover", !DisableHover)
            .AddClass(background, !string.IsNullOrEmpty(background))
            .Build();
    }

    public enum BackgroundColor
    {
        None,
        Paper,
        Highlight
    }

}