@* ReSharper disable once CheckNamespace *@
@namespace Elwark.Education.Web.Components

@if (Count == 1)
{
    <MudCard>
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="200px"/>
        <MudCardContent>
            <MudSkeleton Width="30%" Height="42px;"/>
            <MudSkeleton Width="80%"/>
            <MudSkeleton Width="100%"/>
        </MudCardContent>
        <MudCardActions>
            <MudSkeleton Width="64px" Height="40px" Class="ml-2"/>
            <MudSkeleton Width="105px" Height="40px" Class="ml-3"/>
        </MudCardActions>
    </MudCard>
}
else
{
    <div class="grid">
        @for (var i = 0; i < Count; i++)
        {
            <MudCard>
                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="200px"/>
                <MudCardContent>
                    <MudSkeleton Width="30%" Height="42px;"/>
                    <MudSkeleton Width="80%"/>
                    <MudSkeleton Width="100%"/>
                </MudCardContent>
                <MudCardActions>
                    <MudSkeleton Width="64px" Height="40px" Class="ml-2"/>
                    <MudSkeleton Width="105px" Height="40px" Class="ml-3"/>
                </MudCardActions>
            </MudCard>
        }
    </div>
}


@code {

    [Parameter]
    public uint Count { get; set; } = 8;

}