.grid {
    display: grid;
    gap: 12px;
    grid-template-columns: 100%;
}

.image {
    width: 32px;
    height: 32px;
}

@media (min-width: 600px) {
    .grid {
        gap: 24px;
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    }
}
