.background {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-top-left-radius: var(--mud-default-borderradius);
    border-top-right-radius: var(--mud-default-borderradius);
}

.cover {
    background-color: var(--mud-palette-overlay-dark);
    height: 100%;
    width: 100%;
}

.user-container {
    display: flex;
    flex-direction: column;
    padding: 12px;
    align-items: center;
}

.user-avatar {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    line-height: 1;
    user-select: none;
    border-radius: 50%;
    justify-content: center;
    color: var(--mud-palette-white);
    background-color: var(--mud-palette-grey-light);
    font-size: 1.25rem;
    width: 90px;
    height: 90px;
}

.avatar-img {
    color: transparent;
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
    text-indent: 10000px;
}

.user {
    font-family: var(--mud-typography-default-family);
    font-size: var(--mud-typography-default-size);
    font-weight: var(--mud-typography-default-weight);
    line-height: var(--mud-typography-default-lineheight);
    letter-spacing: var(--mud-typography-default-letterspacing);
    color: var(--mud-palette-text-primary);
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
    display: flex;
    min-width: 0;
}

.user-name {
    color: var(--mud-palette-primary-text);
    font-size: var(--mud-typography-h5-size);
    font-family: var(--mud-typography-h5-family);
    font-weight: var(--mud-typography-h5-weight);
    line-height: var(--mud-typography-h5-lineheight);
    letter-spacing: var(--mud-typography-h5-letterspacing);
    text-align: center;
    text-decoration: underline;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.user-nickname {
    color: var(--mud-palette-primary-text);
    font-size: var(--mud-typography-subtitle1-size);
    font-family: var(--mud-typography-subtitle1-family);
    font-weight: var(--mud-typography-subtitle1-weight);
    line-height: var(--mud-typography-subtitle1-lineheight);
    letter-spacing: var(--mud-typography-subtitle1-letterspacing);
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--mud-palette-divider);
    margin-bottom: 4px;
}

@media (min-width: 600px) {
    .user-container {
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 24px;
    }

    .user-avatar {
        width: 90px;
        height: 90px;
    }
}

@media (min-width: 960px) {
    .user-avatar {
        width: 120px;
        height: 120px;
    }
}
