.title {
    display: grid;
    gap: 24px;
    padding: 24px;
}

.image {
    width: 100%;
}

.image img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: block;
}

@media (min-width: 960px) {
    .title {
        grid-template-columns: 5fr 7fr;
        margin-top: 6.6vmax;
        margin-bottom: 6.6vmax;
    }

    .test {
        margin-top: 6.6vmax;
        grid-column: span 2;
    }
}

@media (min-width: 1920px) {
    .title {
        margin: 6.6vmax auto;
        max-width: 1920px;
    }
}
