.periods {
    display: grid;
    grid-template-columns: 1fr;
}

.period-box {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    position: relative;
    width: 100%;
}

.period-box > a {
    height: 100%;
}

.period-box:hover .period-thumbnail img {
    filter: brightness(0.7);
}

.period-thumbnail {
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: 100%;
}

.period-thumbnail img {
    display: flex;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    filter: brightness(0.6);
    object-fit: cover;
}

.period-header {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 40px 32px;
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--mud-palette-white);
}

.period-header ::deep a {
    text-align: center;
    color: var(--mud-palette-white);
}

@media (min-width: 600px) {
    .periods {
        grid-template-columns: repeat(4, minmax(150px, 1fr));
    }

    .periods > div {
        grid-column: span 2;
    }

    .periods > div:last-child {
        grid-column: 2/-2;
    }
}

@media (min-width: 960px) {
    .periods {
        grid-template-columns: repeat(6, minmax(160px, 1fr));
    }

    .periods > div:nth-child(4) {
        grid-column: 1/4;
    }

    .periods > div:last-child {
        grid-column: 4/-1;
    }
}

@media (min-width: 1280px) {
    .periods {
        grid-template-columns: repeat(5, 1fr);
    }

    .periods > div:nth-child(4),
    .periods > div:last-child,
    .periods > div {
        grid-column: span 1;
    }
}
