.two-column {
    grid-column: span 2;
}

.grid {
    display: grid;
    background-color: var(--mud-palette-surface);
    box-shadow: var(--mud-elevation-1);
    max-width: 1280px;
    margin: 24px;
}

.article-title {
    order: 2;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.caption {
    color: var(--mud-palette-grey-default);
}

.article-title ::deep .title {
    font-size: 1.2rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: .00938em;
    margin-bottom: 8px;
}

.article-description {
    order: 3;
    padding: 12px;
}

.article-image {
    order: 1;
}

.article-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 600px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }

    .article-title {
        grid-column: span 2;
        margin-bottom: 24px;
        order: 1;
    }

    .article-title ::deep .title {
        font-size: 1.5rem;
    }

    .article-description {
        order: 2;
        padding-top: 0;
    }

    .article-image {
        order: 3;
        padding-left: 12px;
        min-height: 23vh;
    }
}

@media (min-width: 960px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .article-title {
        grid-column: span 1;
    }

    .article-title ::deep .title {
        font-size: 1.8rem;
    }

    .article-description {
        padding: 24px;
    }
}

@media (min-width: 1280px) {
    .grid {
        margin: 24px auto;
    }

    .article-title {
        padding: 24px;
    }

    .article-image {
        padding-left: 24px;
    }

    .article-title ::deep .title {
        font-size: 2.1rem;
    }
}
