.card {
    background-color: var(--mud-palette-surface);
    border-radius: var(--mud-default-borderradius);
    box-shadow: var(--mud-elevation-1);
    height: 100%;
    display: grid;
    grid-template-rows: 200px 40px 1fr auto auto;
    grid-gap: 12px;
}

.card-header {
    box-sizing: border-box;
    overflow: hidden;
    border-top-left-radius: var(--mud-default-borderradius);
    border-top-right-radius: var(--mud-default-borderradius);
}

.card-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: transform 2s ease;
}

.card-header:hover img {
    transform: scale(1.1);
}

.progress {
    border-top: 1px solid var(--mud-palette-divider);
    border-bottom: 1px solid var(--mud-palette-divider);
    padding: 12px 0;
}

@media (min-width: 1920px) {
    .card {
        grid-template-rows: 250px 40px 1fr auto auto;
    }
}
