.section {
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
}

.statistics {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

@media (min-width: 1280px) {
    .container {
        width: 1280px;
    }
}
