<div class="@Class">
    <MudIconButton
        Class="d-md-none"
        Icon="@Icons.Material.Outlined.Search"
        Color="Color.Inherit"
        OnClick="@OpenSearchDialog"
        aria-label="@L["Search_Title"]"/>

    <div class="d-none d-md-block container">
        <SearchInput/>
    </div>
</div>

@code {

    private static readonly DialogOptions Options = new()
    {
        FullWidth = true,
        MaxWidth = MaxWidth.Medium,
        Position = DialogPosition.TopCenter,
        CloseButton = false,
        NoHeader = true
    };

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Inject]
    private IDialogService DialogService { get; init; } = default!;

    [Parameter]
    public string? Class { get; set; }

    private Task OpenSearchDialog() =>
        DialogService.ShowAsync<HistorySearchModal>(string.Empty, Options);

}