@inherits LayoutComponentBase

<CascadingTheme>
    <MudLayout Class="d-flex flex-column min-vh-100">
        <HistoryAppBar OnDrawerClick="@ToggleDrawer"/>

        <HistoryDrawer @bind-Open="@_isOpen"/>

        <main class="d-flex flex-column flex-grow-1 mud-main-content">
            @Body
        </main>

        <MainFooter/>

        <MudScrollToTop>
            <MudFab Icon="@Icons.Material.Outlined.KeyboardArrowUp" Color="Color.Primary"/>
        </MudScrollToTop>
    </MudLayout>
</CascadingTheme>

@code {
    private bool _isOpen;

    private void ToggleDrawer() =>
        _isOpen = !_isOpen;

}