footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    border-top: 1px solid var(--mud-palette-divider);
}

.image {
    width: 32px;
    height: 32px;
}

@media (min-width: 1280px) {
    .mud-drawer-open-responsive-lg-left footer {
        margin-left: var(--mud-drawer-width-left);
    }
}
