@inherits LayoutComponentBase

<CascadingTheme>
    <MudLayout Class="d-flex flex-column min-vh-100">
        <HistoryAppBar OnDrawerClick="@ToggleDrawer"/>

        <HistoryDrawer @bind-Open="@_isOpen"/>

        <main class="d-flex flex-column flex-grow-1 mud-main-content">
            <CascadingValue Value="@this">
                @Body
            </CascadingValue>
        </main>

        @if (_showFooter)
        {
            <HistoryFooter/>
        }

        <MudScrollToTop>
            <MudFab StartIcon="@Icons.Material.Outlined.KeyboardArrowUp" Color="Color.Primary" Size="Size.Small"/>
        </MudScrollToTop>
    </MudLayout>
</CascadingTheme>

@code {
    private bool _isOpen;
    private bool _showFooter = true;

    private void ToggleDrawer() =>
        _isOpen = !_isOpen;

    public void HideFooter()
    {
        _showFooter = false;
        StateHasChanged();
    }

    public void ShowFooter()
    {
        _showFooter = true;
        StateHasChanged();
    }

}
