.header {
    height: 140px;
}

.background {
    background-image: url("/images/history/bg-640x360.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: var(--mud-default-borderradius);
    border-top-right-radius: var(--mud-default-borderradius);
    height: 100px;
}

.avatar {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.profile-info {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}
