.grid {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr;
    align-items: start;
}

.sticky-info {
    position: sticky;
    top: 96px;
}

@media (min-width: 600px) {
    .grid {
        gap: 24px;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1280px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
}
