.winner-wrapper {
    width: 100%;
}

.month-wrapper {
    max-width: 180px;
}

@media (min-width: 960px) {
    .winner-wrapper {
        width: 50%;
    }
}

@media (min-width: 1280px) {
    .winner-wrapper {
        width: 40%;
        max-width: 520px;
    }
}

@media (min-width: 1440px) {
    .winner-wrapper {
        max-width: 640px;
    }
}