.grid {
    display: grid;
    row-gap: 12px;
    grid-template-columns: minmax(100px, 1fr);
}

@media (min-width: 600px) {
    .grid {
        gap: 24px;
        grid-template-columns: repeat(2, minmax(160px, 1fr));
    }

    .grid ::deep .daily,
    .grid ::deep .monthly {
        grid-column: 1 / -1;
    }
}

@media (min-width: 960px) {
    .grid {
        grid-template-columns: repeat(12, 1fr);
    }

    .grid ::deep .easy-test,
    .grid ::deep .hard-test,
    .grid ::deep .mixed-test,
    .grid ::deep .event-guesser {
        grid-column: span 4
    }
}

@media (min-width: 1280px) {
    .grid ::deep .easy-test,
    .grid ::deep .hard-test,
    .grid ::deep .mixed-test,
    .grid ::deep .event-guesser {
        grid-column: span 3
    }
}