@using Markdig
@using Markdig.Extensions.AutoIdentifiers
@using MudBlazor.Utilities

<div class="@_class" style="@Style">
    @((MarkupString)Markdown.ToHtml(Content, Pipeline))
</div>

@code {

    private static readonly MarkdownPipeline Pipeline =
        new MarkdownPipelineBuilder()
            .UseAdvancedExtensions()
            .Build();

    private string? _class;

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public string? Style { get; set; }

    [Parameter]
    public bool DisableParagraphIndent { get; set; }

    [Parameter]
    public string Content { get; set; } = string.Empty;

    protected override void OnParametersSet() =>
        _class = CssBuilder.Default("markdown")
            .AddClass("text-indent", !DisableParagraphIndent)
            .AddClass(Class, Class is not null)
            .Build();

}