@page "/profile/{subject}"
@attribute [Authorize]

<ProfileSubjectHeader SubjectType="@_type" Selected="@(ProfileSubMenu.Overview)"/>

<div class="ma-6">
    <SkeletonCard/>
</div>

@code {

    [Parameter]
    public string Subject { get; set; } = string.Empty;

    private SubjectType _type;

    protected override void OnParametersSet() =>
        Enum.TryParse(Subject, true, out _type);

}
