.background {
    background-image: url("/images/history/history-poly.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: var(--mud-default-borderradius);
    min-height: 180px;
}
