<div class="mud-avatar avatar" style="background: @Background">
    <MudIcon Class="icon" Icon="@Icon"/>
</div>

@code {

    [Parameter, EditorRequired]
    public string Icon { get; set; } = Icons.Material.Outlined.Subject;

    [Parameter, EditorRequired]
    public string? Background { get; set; }

}