<div class="mud-avatar avatar" style="background: @Background">
    <MudIcon Class="icon" Icon="@Icon"/>
</div>

@code {

    [Parameter, EditorRequired]
    public required string Icon { get; set; }

    [Parameter, EditorRequired]
    public required string Background { get; set; }

}