@using MudBlazor.Utilities
@typeparam TValue

<section class="mud-paper d-flex flex-column gap-3 pa-3 pa-sm-6 @Class">
    <header class="d-flex align-center justify-space-between">
        <MudText Typo="Typo.h5">
            @Title
        </MudText>
        <ReadableNumber Value="@Value" Typo="Typo.h5"/>
    </header>
    <section class="flex-grow-1">
        @ChildContent
    </section>
    @if (Href is not null)
    {
        <footer>
            <MudButton DisableElevation Variant="Variant.Outlined" Color="Color.Primary" Href="@Href">
                @L["Button:Details"]
            </MudButton>
        </footer>
    }
</section>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter, EditorRequired]
    public string Title { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public TValue Value { get; set; } = default!;

    [Parameter]
    public string? Href { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;

}