<div class="subheader">
    <MudText Typo="Typo.h6">
        @Title
    </MudText>
    <MudText Typo="Typo.body2">
        @Subtitle
    </MudText>
</div>

@code {

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string Subtitle { get; set; } = string.Empty;

}
