.subjects {
    display: grid;
    gap: 12px;
    margin: 12px;
}

@media (min-width: 600px) {
    .subjects {
        margin: 24px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@media (min-width: 960px) {
    .subjects {
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
}

@media (min-width: 1280px) {
    .subjects {
        grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    }
}
