.statistics {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: end;
    gap: 24px;
    padding: 24px;
}

.profile {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 24px;
    padding: 24px;
}

.profile-text {
    text-align: center;
}

.profile-text ::deep a {
    color: var(--mud-palette-white);
}

.item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (min-width: 600px) {
    .profile {
        grid-template-columns: 120px 1fr;
        justify-items: start;
        align-items: center;
    }

    .profile-text {
        text-align: left;
    }

    .statistics {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
}

@media (min-width: 960px) {
    .statistics {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
}

@media (min-width: 1280px) {
    .statistics {
        /*grid-template-columns: repeat(5, 1fr);*/
    }
}
