html, body, #app {
    height: 100%;
    min-height: 100vh;
}

body {
    background-color: #F6F6F6;
}

.app-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.app-loader .spinner-border {
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
}

@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}

.spinner-border {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

.grid-full-row {
    grid-column: 1/-1;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.mw-xs {
    max-width: 600px;
}

.mw-sm {
    max-width: 960px;
}

.mw-md {
    max-width: 1280px;
}

.mw-lg {
    max-width: 1920px;
}

.one-line-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}